<app-nav-bar>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div style="font-size: 13px;float: right;">

          <form [formGroup]="filterFormGroup">

            <mat-form-field appearance="outline" class="example-full-widthp" style="margin-right: 14px;">
              <mat-label>Du - Au</mat-label>
              <mat-date-range-input [formGroup]="filterFormGroup" [rangePicker]="picker">
                <input matStartDate formControlName="fromDate" placeholder="Date de début">
                <input matEndDate formControlName="fromEnd" placeholder="Date de fin">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Fermer</button>
                  <button mat-raised-button (click)="applyFilterDate($event)" class="sizeButtons" matDatepickerApply>Appliquer</button>
                </mat-datepicker-actions>
              </mat-date-range-picker>
              <mat-error *ngIf="filterFormGroup.controls.fromDate.hasError('matStartDateInvalid')">Date de début invalide</mat-error>
              <mat-error *ngIf="filterFormGroup.controls.fromEnd.hasError('matEndDateInvalid')">Date de fin invalide</mat-error>

            </mat-form-field>
           </form>

        </div><!---->
      </div>
    </div><!--row-->

    <div class="row">

      <div class="col-md-12">

        <div style="padding-top: 10px;">

          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <span (click)="IsConnexion()">Connexion <i class="fas fa-user" style="font-size: 20px;margin-left: 8px;"></i></span>
              </ng-template>

              <div class="contentInfo">

                  <div>
                    <table mat-table [dataSource]="dataSource">

                      <!-- Position Column -->
                      <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef> Nom utilisateur </th>
                        <td mat-cell *matCellDef="let element" class="tb-content"> {{element.nom}} </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date de connexion </th>
                        <td mat-cell *matCellDef="let element" class="tb-content"> {{element.date | date:'dd/MM/YYYY à HH:mm'}} </td>
                      </ng-container>

                      <!-- Weight Column -->
                     <!-- <ng-container matColumnDef="heure">
                        <th mat-header-cell *matHeaderCellDef> Heure de connexion </th>
                        <td mat-cell *matCellDef="let element" class="tb-content"> {{element.heure | date:'hh:mm:ss a'}} </td>
                      </ng-container>-->

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="dated">
                        <th mat-header-cell *matHeaderCellDef> Date déconnexion </th>
                        <td mat-cell *matCellDef="let element" class="tb-content"> {{element.dated | date:'dd/MM/YYYY à HH:mm'}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="scanne">
                        <th mat-header-cell *matHeaderCellDef> Clients scannés </th>
                        <td mat-cell *matCellDef="let element" class="tb-content"> {{element.scanne }} </td>
                      </ng-container>

                      <ng-container matColumnDef="recompense">
                        <th mat-header-cell *matHeaderCellDef> Récompenses accordées </th>
                        <td mat-cell *matCellDef="let element" class="tb-content"> {{element.recompense }} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5,10, 20]"
                                  showFirstLastButtons
                                  aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>

              </div><!--div-->

            </mat-tab>

            <!--<mat-tab>
              <ng-template mat-tab-label>
                <span (click)="IsFacture()"> Facture <i class="fas fa-file-invoice" style="font-size: 20px;margin-left: 8px;"></i></span>
              </ng-template>

              <div class="contentInfo">

                <div>
                  <table mat-table [dataSource]="dataSourceAvoir">


                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.date | date:'dd/MM/YYYY'}} </td>
                    </ng-container>


                    <ng-container matColumnDef="heure">
                      <th mat-header-cell *matHeaderCellDef> Heure </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.heure | date:'hh:mm:ss a'}} </td>
                    </ng-container>


                    <ng-container matColumnDef="motif">
                      <th mat-header-cell *matHeaderCellDef> Motif </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.motif}} </td>
                    </ng-container>


                    <ng-container matColumnDef="montant">
                      <th mat-header-cell *matHeaderCellDef> Montant </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.montant}} </td>
                    </ng-container>

                    <ng-container matColumnDef="statut">
                      <th mat-header-cell *matHeaderCellDef> Statut </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.statut}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAvoir"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAvoir;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 20]"
                                showFirstLastButtons
                                aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>

              </div>

            </mat-tab>-->

            <mat-tab>
              <ng-template mat-tab-label>
                <span (click)="ISVoir()">Avoirs <i class="fas fa-shopping-cart" style="font-size: 20px;margin-left: 8px;"></i></span>
              </ng-template>

              <div class="contentInfo">

                <div>
                  <table mat-table [dataSource]="dataSourceAvoir">

                    <!-- Position Column -->
                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.date | date:'dd/MM/YYYY'}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="heure">
                      <th mat-header-cell *matHeaderCellDef> Heure </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.heure | date:'HH:mm'}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="motif">
                      <th mat-header-cell *matHeaderCellDef> Motif </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.motif}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="montant">
                      <th mat-header-cell *matHeaderCellDef> Montant </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.montant}} fca</td>
                    </ng-container>

                    <!--<ng-container matColumnDef="statut">
                      <th mat-header-cell *matHeaderCellDef> Statut </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.statut}} </td>
                    </ng-container>-->


                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAvoir"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAvoir;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 20]"
                                showFirstLastButtons
                                aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>

              </div><!--div-->
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <span (click)="IsRecompense()">Récompense <i class="fas fa-gifts" style="font-size: 20px;margin-left: 8px;"></i></span>
              </ng-template>

              <div class="contentInfo">

                <div>
                  <table mat-table [dataSource]="dataSourceRecompense">

                    <!-- Position Column -->
                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.date | date:'dd/MM/YYYY'}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="heure">
                      <th mat-header-cell *matHeaderCellDef> Heure </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.heure | date:'HH:mm'}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="nom">
                      <th mat-header-cell *matHeaderCellDef>Client </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.nom}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef> Type de récompense </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="points">
                      <th mat-header-cell *matHeaderCellDef> Points </th>
                      <td mat-cell *matCellDef="let element" class="tb-content"> {{element.points}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumnsRecompense"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRecompense;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 20]"
                                showFirstLastButtons
                                aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>

              </div><!--div-->


            </mat-tab>
          </mat-tab-group>

        </div><!--mat-->

      </div><!--col-->

    </div><!--row-->

  </div><!--container-->

</app-nav-bar>
