<form [formGroup]="passwordForm" novalidate>
    <p class="titleInfo">Paramétrer l'identifiant <button mat-mini-fab style="background-color: #0c2461;" type="submit" (click)="onPasswordUser()"> <mat-icon>edit</mat-icon></button></p>
    <div *ngIf="onLoadForm">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div style="padding-top: 19px;">

        <div style="font-size: 11px;">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Mot de passe</mat-label>
              <input matInput formControlName="password" [type]="hideP ? 'password' : 'text'"  required>
                <button class="iconVisible" *ngIf="passwordForm.get('password').value && passwordForm.get('password').value!=''" mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP">
                 <mat-icon>{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-icon class="iconError0" matTooltip="{{ account_validation_messages.password[0].message }}"
                  *ngIf="passwordForm.get('password').hasError(account_validation_messages.password[0].type) && ((passwordForm.get('password').dirty || passwordForm.get('password').touched) || (submitted))"
                  style="cursor: pointer;" matSuffix>
                   <i class="fas fa-exclamation-circle"></i>
                </mat-icon>
                <mat-icon class="iconError" matTooltip="{{ account_validation_messages.password[1].message }}"
                    *ngIf="passwordForm.get('password').hasError(account_validation_messages.password[1].type) && ((passwordForm.get('password').dirty || passwordForm.get('password').touched) || (submitted))"
                    style="cursor: pointer;" matSuffix>
                    <i class="fas fa-exclamation-circle"></i>
                </mat-icon>
            </mat-form-field>       
        </div>
        <div style="font-size: 11px;">
            <mat-form-field appearance="outline" class="example-full-width">
            <mat-label class="labelFrom">Confirmer mot de passe</mat-label>
            <input matInput  formControlName="confirmpassword" [type]="hidePassword ? 'password' : 'text'">
                <button class="iconVisible" *ngIf="passwordForm.get('confirmpassword').value && passwordForm.get('confirmpassword').value!=''" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-icon class="iconError" matTooltip="Les deux mot de passe ne correspondent pas"
                          *ngIf="(passwordForm.get('confirmpassword').errors?.notEqual || passwordForm.get('confirmpassword').value!=passwordForm.get('password').value) &&  ((passwordForm.get('confirmpassword').dirty || passwordForm.get('confirmpassword').touched) || (submitted))"
                          style="cursor: pointer;" matSuffix>
                          <i class="fas fa-exclamation-circle"></i>
                </mat-icon>
            </mat-form-field>
        </div>

    </div>
    
</form>
                   
    
                   
          
                    