<div class="reset-body">

  <div class="container">
    <div class="contentPageReset">
  
      <div class="row justify-content-md-center">
        <div class="col-lg-5 col-md-auto">

          <div class="text-center">
            <img src="../../assets/images/logo.png" width="250px">
         </div>
          <mat-card class="exemple-card" style="box-shadow: none !important;opacity: 95%;">
              <mat-card-title class="titleCardReset">
               <div class="text-center">
                  <p style="color:#04075E;font-size: 15px;">Récuperation de mot de passe</p>
                  <p *ngIf="!passwordchangedok" style="color:#04075E;font-size: 12px;font-weight: normal;">Entrez votre adresse email, un lien de récupération vous sera envoyé</p>
                  <p *ngIf="passwordchangedok" style="color:#3F8823;font-size: 12px;font-weight: normal;">Un lien vous a été envoyé sur votre adresse email. Veuillez cliquer dessus pour réinitialiser votre mot de passe.</p>
                  <p *ngIf="accountnotfound" style="color:#d41750;font-size: 12px;font-weight: normal;">Oups!!! Compte non trouvé</p>
               </div>
              </mat-card-title>
  
              <form [formGroup]="lostpasswordForm" novalidate>
  
                <mat-card-content style="margin: 0 60px 0 60px;">
  
                  <mat-form-field appearance="legacy" class="example-full-width">
                    <mat-label style="color: #c9c8c8;font-size: 12px;">Email</mat-label>
                    <input matInput formControlName="email" required>
                  </mat-form-field>
                  <div>
                    <mat-error *ngFor="let validation of account_validation_messages.email">
                      <mat-error class="error-message" style="font-size: 12px;"
                        *ngIf="lostpasswordForm.get('email').hasError(validation.type) && (lostpasswordForm.get('email').dirty || lostpasswordForm.get('email').touched)">
                        {{validation.message}}</mat-error>
                    </mat-error>
                    <br/>
                  </div>
                  <div class="text-center">
                    <div class="col-md-12">
                        <button type="submit" (click)="onLostPassword()" mat-raised-button class="sizeButtonReset">Envoyer</button>
                    </div><!--col-->
                    <div class="col-md-12">
                      <a [routerLink]="'/'" style="text-decoration: none;color: #777;font-size: 15px;"><p>Revenir à la page de connexion</p></a>
                    </div><!--col-->
                  </div><!--row-->
                  <!--<div class="text-center">
                  </div>text-center-->
                </mat-card-content>
                <mat-card-footer *ngIf="isMailLoading">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
  
              </form>
  
  
          </mat-card>
        </div><!--col-->
    </div><!--row-->
  
    </div>
  
  </div><!--container-->

</div><!--body-->

