<div class="container">
  <div class="contentPage">

    <div class="row justify-content-md-center">
      <div class="col-lg-5 col-md-auto">
        <mat-card class="exemple-card" style="box-shadow: none !important;">
            <mat-card-title class="titleCard">
             <div class="text-center">
                <p style="color:#04075E;font-size: 15px;">Récuperation de mot de passe</p>
                <p style="color:#04075E;font-size: 12px;font-weight: normal;">Entrez votre adresse email, un lien de récupération vous sera envoyé</p>
             </div>
            </mat-card-title>
            <mat-card-content style="margin: 0 60px 0 60px;">

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label style="color: #c9c8c8;font-size: 12px;">Email</mat-label>
                <input matInput>
              </mat-form-field>


              <div class="text-center">
                  <button mat-raised-button class="sizeButton">Connexion</button>
                  <button mat-raised-button class="sizeButtonA" [routerLink]="'/'">Annuler</button>
              </div><!--text-center-->

            </mat-card-content>

        </mat-card>
      </div><!--col-->
  </div><!--row-->

  </div>

</div><!--container-->
