<div class="container">
  <div class="contentPage">

    <div class="row justify-content-md-center">
      <div class="col-lg-7 col-md-auto">
        <mat-card style="box-shadow: none !important;">
            <mat-card-content style="margin: 0 60px 0 60px;">
              <p class="text-center">Vous venez de vous inscrire sur notre <b style="color:#04075E;font-size:15px">PLATEFORME</b>.</p>
              <p class="text-center">Un e-mail de validation a été envoyé sur votre boite e-mail {{email}}.</p>
            </mat-card-content>
            <mat-card-actions style="margin: 25px 30px 0 30px;">
               <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <button mat-raised-button class="sizeButtonA" [routerLink]="'/'">Connexion</button>
                    </div>
                  </div>
              </div><!--row-->
            </mat-card-actions>
        </mat-card>
      </div><!--col-->
  </div><!--row-->

  </div>

</div><!--container-->
