<mat-dialog-content class="mat-typography">

  <div class="container-fluid">

   <div class="row">
      <div class="col-lg-12 col-md-12">
        <mat-card class="exemple-card" style="box-shadow: none !important;">
            <mat-card-title class="titleCard">
             <div class="text-center">
                <!--<i class="fas fa-lock-open iconLogin" style="padding-bottom: 20px;"></i>-->
                <p style="color:#04075E;font-size: 19px;">Information de base</p>
             </div>
            </mat-card-title>
            <mat-card-content style="margin: 0 60px 0 60px;">

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label style="color: #c9c8c8;font-size: 12px;">Nom</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label style="color: #c9c8c8;font-size: 12px;">Prénom</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label style="color: #c9c8c8;font-size: 12px;">Poste</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label style="color: #c9c8c8;font-size: 12px;">Identifiant</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label style="color: #c9c8c8;font-size: 12px;">Mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label style="color: #c9c8c8;font-size: 12px;"> Confirmer mot de passe</mat-label>
                <input matInput [type]="hideC ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
                  <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div class="row">
                 <!--<div class="col-md-6">
                   <button mat-raised-button class="sizeButtonA">Annuler</button>
                 </div>col-->
                 <div class="col-md-12">
                   <div class="text-center">
                     <button mat-raised-button class="sizeButton">Confirmer</button>
                   </div>
                 </div><!--col-->
              </div><!--text-center-->

            </mat-card-content>
        </mat-card>
      </div><!--col-->
    </div><!--row-->

  </div><!--Fluid-->

</mat-dialog-content>
