<form [formGroup]="agentForm" novalidate>

  <mat-dialog-content  class="mat-typography">

    <div class="container">
  
      <div class="row">
        <div class="col-md-12">

          <div class="text-center titleInfoAdd" style="margin-bottom: 16px;">Information de base</div>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label style="color: #000000;font-size: 13px;">Prénom</mat-label>
            <input matInput formControlName="prenom" required>
            <mat-icon matTooltip="{{account_validation_messages.nom[0].message}}"
                      *ngIf="agentForm.get('prenom').hasError(account_validation_messages.prenom[0].type) && (agentForm.get('prenom').dirty || agentForm.get('prenom').touched  || (submitted))"
                      style="cursor: pointer;" matSuffix>
                      <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label style="color: #000000;font-size: 13px;">Nom</mat-label>
            <input matInput formControlName="nom" required>
            <mat-icon matTooltip="{{account_validation_messages.nom[0].message}}"
                      *ngIf="agentForm.get('nom').hasError(account_validation_messages.nom[0].type) && (agentForm.get('nom').dirty || agentForm.get('nom').touched  || (submitted))"
                      style="cursor: pointer;" matSuffix>
                      <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
          </mat-form-field>
  


          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label style="color: #000000;font-size: 13px;">Poste</mat-label>
            <input matInput formControlName="poste" required>
            <mat-icon matTooltip="{{account_validation_messages.poste[0].message}}"
                      *ngIf="agentForm.get('poste').hasError(account_validation_messages.poste[0].type) && (agentForm.get('poste').dirty || agentForm.get('poste').touched  || (submitted))"
                      style="cursor: pointer;" matSuffix>
                      <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
          </mat-form-field>
  
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label style="color: #000000;font-size: 13px;">Email (identifiant)</mat-label>
            <input matInput formControlName="emailorphone" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$|(\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+)" required>
                   <mat-icon matTooltip="{{ account_validation_messages.emailorphone[0].message }}"
                      *ngIf="agentForm.get('emailorphone').hasError(account_validation_messages.emailorphone[0].type) && ((agentForm.get('emailorphone').dirty || agentForm.get('emailorphone').touched) || (submitted))"
                      matSuffix>
                      <i class="fas fa-exclamation-circle"></i>
                    </mat-icon>
          </mat-form-field>
          <div *ngIf="agentFormErrors.emailorphone.found" class="text-danger" style="position: relative;bottom: 19px">
            Ce compte existe déjà
          </div>
  
        </div>
  
      </div><!---->
  
    </div><!--Fluid-->
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fermer</button>
    <button mat-button [disabled]="onLoadForm" type="submit" (click)="addAgent()" cdkFocusInitial style=" background:linear-gradient(90deg, #0c1733, #3fd27e);color:#fff">Ajouter personnel</button>
  </mat-dialog-actions>
  <div *ngIf="onLoadForm" style="padding-top: 20px;">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</form>

