.labelFrom{
  color: #000000;
  font-size: 13px;
}

.iconFrom{
  color:#000000;
  font-size: 24px;
  font-weight: 700;
  margin-right: 13px;
}

.file-input {
  display: none;
}


.example-full-width {
  width: 65%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  //color: #fff;
}

.striped-row {
  background-color: #eaf5e6;
}

.event-row {
  background-color: #f9f9f9;
}



.sizeButtons {
  width: 121px;
  background: linear-gradient(90deg, #0c1733, #3fd27e) !important;
  color: #fff;
  height: 44px;
  position: relative;
  bottom: 3px;
}

.sizeb{
  width: 51px;
  background: linear-gradient(90deg, #0c1733, #3fd27e) !important;
  color: #fff;
  height: 46px;
}

table {
  width: 100%;
}

.titleTable{
  color: #000;
}
.titleContent{
  font-size: 12px;
  cursor: pointer;
  color: #0c2461;
}

.labelClient {
  color: #c71e56;
  font-size: 13px;
}


