.labelFrom{
  color: #000000;
  font-size: 13px;
}

.iconFrom{
  color:#000000;
  font-size: 24px;
  font-weight: 700;
  margin-right: 13px;
}

.file-input {
  display: none;
}


.example-full-width {
  width: 82%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  //color: #fff;
}

.striped-row {
  background-color: #eaf5e6;
}

.event-row {
  background-color: #f9f9f9;
}


.left2{
  border-left: 10px solid #10ae58!important;
}


.sizeButtons {
  width: 121px;
  background: linear-gradient(90deg, #0c1733, #3fd27e) !important;
  color: #fff;
  height: 44px;
  position: relative;
  bottom: 3px;
}

.sizeb{
  width: 51px;
  background: linear-gradient(90deg, #0c1733, #3fd27e) !important;
  color: #fff;
  height: 46px;
}

table {
  width: 100%;
}

.titleTable{
  color: #000;
}
.titleContent{
  font-size: 12px;
  cursor: pointer;
  color: #0c2461;
}

.labelClient {
  color: #c71e56;
  font-size: 13px;
}

.vl {
  border-left: 1px solid rgb(255, 255, 255);
  height: 50px;
  position: absolute;
  left: 82%;
  margin-left: -3px;
  top: 0;
}


