<app-nav-bar>

  <div class="container-fluid">

    <div *ngIf="onLoadForm">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="row">

      <div class="col-md-4" style="font-size: 13px;">

        <div>
          <mat-form-field appearance="outline" class="example-full-width" style="margin-right: 14px;">
            <mat-label class="labelFrom">Rechercher client</mat-label>
            <input matInput (keyup)="applyFilter($event)"  #input>
            <mat-icon matPrefix class="iconFrom">search</mat-icon>
          </mat-form-field>
        </div>

      </div><!--col-->

      <div class="col-md-4">
        <div style="position: relative;top: 5px;">
          <div class="card" style="height:45px;width: 80%;background: #0c2461;">
            <div class="card-body" style="font-size: 11px;color: #fff;">
              <div class="row">
                <div class="col-md-10">
                  <i class="fas fa-users" style="font-size: 12px;"></i> Nombre total de client
                </div><!--col-md-6-->
                <div class="col-md-2">
                  <div class="vl"></div>
                  {{operations.length}}
                </div><!--col-md-6-->
              </div>
            
            </div>
          </div>
        </div>
      </div><!--col-md-->

  
      <div class="col-md-4" style="position: relative;top: 4px;">
        <div style="float: right;">
            <button mat-raised-button class="sizeb" style="margin-right: 13px;" [cdkCopyToClipboard]="url" matTooltip="Copie le lien"><i class="fas fa-link" style="font-size: 23px;"></i></button>
            <button mat-raised-button class="sizeb" style="margin-right: 13px;" (click)="openDialog()" matTooltip="Ajouter un client"><i class="fas fa-user-plus" style="font-size: 23px;"></i></button>
            <button mat-raised-button class="sizeb" (click)="fileUpload.click()"><i class="fas fa-file-import" matTooltip="Importer des clients" style="font-size: 23px;"></i></button>
            <input type="file" class="file-input" accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' (change)="onFileSelected($event)" #fileUpload>

        </div>

      </div><!--col-->

    </div><!--row-->

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-8">
        <p class="labelClient">Veuillez télécharger le modèle du fichier excel client <a href="https://weefid.alwaysdata.net/Customers.xlsx" style="text-decoration: none;color: #0c1733;font-weight: bold;">cliquez ici!</a></p>
     </div><!--col-md-8-->
     <div class="col-md-4">
      <div align="right" *ngIf="isAll">
        <button mat-button (click)="openDialogDeleteMany()" style=" background: #c71e56 !important;color:#fff"><i class="fas fa-trash" style="font-size: 20px;"></i> Supprimer tout</button>
      </div>
     </div><!--col-->
    </div>

    <div class="row justify-content-md-center" style="margin-bottom: 10px;" *ngIf="message">
        <div class="col-lg-6 col-md-6 col-md-auto">

          <mat-card class="left2">
            <mat-card-content>
               <p style="font-size:14px;font-weight:600;">{{message}}</p>
            </mat-card-content>
          </mat-card>

        </div><!--col-->
    </div>
    
 
    <div>
        <mat-card>

          <mat-card-content>

            <table mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="titleTable">
                 <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()" 
                                [disabled]="false">
                  </mat-checkbox>
                   Tout
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation();selectionRow(row)"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                  <!--<mat-checkbox (click)="$event.stopPropagation();selectionRow(row)"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)" *ngIf="isAll">
                  </mat-checkbox>
                  <mat-checkbox (click)="openDialogDelete(row.id)"
                                [aria-label]="checkboxLabel(row)" *ngIf="!isAll">
                </mat-checkbox>-->
                </td>
              </ng-container>
    
              <!-- ID Column -->
              <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable"> Numéro Client </th>
                <td mat-cell *matCellDef="let row" class="titleContent" (click)="openDialogDetail(row.id)"> {{row.numero}} </td>
              </ng-container>
    
              <!-- Progress Column -->
              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable"> Nom & Prénom </th>
                <td mat-cell *matCellDef="let row" class="titleContent" (click)="openDialogDetail(row.id)"> {{row.nom}} {{row.prenom}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable">Genre </th>
                <td mat-cell *matCellDef="let row" class="titleContent" (click)="openDialogDetail(row.id)"> {{row.genre}} </td>
              </ng-container>
    
              <!-- Fruit Column -->
              <ng-container matColumnDef="debut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable"> Première visite </th>
                <td mat-cell *matCellDef="let row" class="titleContent" (click)="openDialogDetail(row.id)"> {{row.debut |date: 'dd/MM/YYYY'}} </td>
              </ng-container>
    
              <!-- Fruit Column -->
              <ng-container matColumnDef="fin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable"> Dernière visite </th>
                <td mat-cell *matCellDef="let row" class="titleContent" (click)="openDialogDetail(row.id)"> {{row.fin |date: 'dd/MM/YYYY'}} </td>
              </ng-container>

              <ng-container matColumnDef="visite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable"> Total visite </th>
                <td mat-cell *matCellDef="let row" class="titleContent" (click)="openDialogDetail(row.id)"> {{row.visite}} </td>
              </ng-container>
    
              <ng-container matColumnDef="depense">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable"> Montant depensé </th>
                <td mat-cell *matCellDef="let row" class="titleContent" (click)="openDialogDetail(row.id)"> {{row.depense}} </td>
              </ng-container>
    

              <ng-container matColumnDef="avoir">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable"> Montant avoir </th>
                <td mat-cell *matCellDef="let row" class="titleContent" (click)="openDialogDetail(row.id)"> {{row.avoir}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="titleTable"> Supprimer </th>
                <td mat-cell *matCellDef="let row" class="titleContent">  <button mat-button (click)="openDialogDelete(row.id)"><i class="fas fa-trash" style="font-size: 17px;color: #c71e56;"></i></button> </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row;columns: displayedColumns;"></tr>
    
              <!--"let row; let i = dataIndex; columns: ['expandedDetail']" class="striped-row" [ngClass]="{'alt-row': i % 2}"-->
    
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9">Aucune donnée correspondant au filtre "{{input.value}}"</td>
              </tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

          </mat-card-content>

        </mat-card><!--mat-card-->
        
    </div>

  </div><!--container-->

</app-nav-bar>
