<div class="container">


<div style="padding-top: 45px;" *ngIf="emptyMessage && (!chargeMessage && isUpdateM)">

    <form [formGroup]="messageForm" novalidate>

      <div class="row">
  
          <div class="col-md-6">
  
              <mat-card style="margin-bottom: 20px;">
                  <mat-card-content>
                    <p class="titreHeader">Information de base</p>
                    <div class="row">
                      <div class="col-md-12" style="font-size: 13px;">
  
                      <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label class="labelFrom">Nom</mat-label>
                              <input matInput formControlName="nom">
                      </mat-form-field>   
      
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label class="labelFrom">Type de promo</mat-label>
                            <mat-select (selectionChange)="selectSms($event.value)" formControlName="typePromotion">
                              <mat-option *ngFor="let type of listTypes" [value]="type.nom">{{type.nom}}</mat-option>
                            </mat-select>
                        </mat-form-field>
      
                      </div>
                    </div>
      
                  </mat-card-content>
              </mat-card>
  
  
          </div><!--col-md-6-->
          <div class="col-md-6">
  
              <mat-card>
                  <mat-card-content>
      
                    <div *ngIf="!isSms">
      
                      <p class="titreHeader">SMS</p>
      
                      <mat-form-field class="example-full-width" appearance="fill">
                        <textarea matInput formControlName="message"></textarea>
                      </mat-form-field>
      
                    </div>
                    
                   <div *ngIf="isSms">
      
                    <p class="titreHeader">App</p>
      
                    <mat-form-field class="example-full-width" appearance="fill">
                      <textarea matInput formControlName="message"></textarea>
                    </mat-form-field>
      
                   </div>
      
                    
                    <div align="right">
                      <button mat-raised-button class="sizebv" type="submit" (click)="AddMessage()">Valider</button>
                    </div>
                  </mat-card-content>
              </mat-card>
      
  
          </div><!--col-md-6-->
  
      </div><!--row-->
  
    </form><!--form ajouter message-->

</div><!--add-->

<div style="padding-top: 45px;" *ngIf="chargeMessage && (!emptyMessage && isUpdateM)">

  <form novalidate>

    <div class="row">
  
      <div class="col-md-12">

          <mat-card style="margin-bottom: 20px;">
              <mat-card-content>
                <p class="titreHeader">Information de base</p>
                <div class="row">
                  <div class="col-md-12" style="font-size: 13px;">

                  <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label class="labelFrom">Nom</mat-label>
                          <input matInput name="nom" [(ngModel)]="messageClient.nom" #nom="ngModel">
                  </mat-form-field>   
  
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label class="labelFrom">Type de promo</mat-label>
                        <mat-select name="typePromotion" [(ngModel)]="messageClient.typePromotion" #typePromotion="ngModel">
                          <mat-option *ngFor="let type of listTypes" [value]="type.nom">{{type.nom}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div>
    
                      <mat-form-field class="example-full-width" appearance="fill">
                        <textarea matInput name="message" [(ngModel)]="messageClient.message" #message="ngModel"></textarea>
                      </mat-form-field>
        
                     </div>
        
                      <div align="left">
                        <button mat-raised-button class="sizebv" type="submit" (click)="updateMessage(messageClient,messageClient?._id)">Valider</button>
                      </div>
  
                  </div>
                </div>
  
              </mat-card-content>
          </mat-card>


      </div><!--col-md-6-->

  </div><!--row-->

  </form>

</div><!--update-->


<div  *ngIf="!isUpdateM">
  <div class="row" style="padding-top: 45px;">
  
     <div class="col-md-12">
 
          <div class="row">

            <div class="col-md-4">

              <p class="checkboxTitle">Nom promotion :</p>
              
              <p class="checkboxTitle">Type promotion : </p>
              
              <p class="checkboxTitle">Message promotion :</p>

            </div><!--col-md-4-->

            <div class="col-md-8">

              <p class="checkboxTitleM">{{messageClient?.nom}}</p>
              
              <p class="checkboxTitleM">{{messageClient?.typePromotion}}</p>
              
              <p class="checkboxTitleM">{{messageClient?.message}}</p>

            </div><!--col-md-8-->

          </div><!--row--> 

          <div align="center">
            <button mat-mini-fab color="primary" matTooltip="Ajouter ou modifier promotion" (click)="openMessage()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
     </div>
   </div>
</div>

</div><!--container-->


