<mat-dialog-content class="mat-typography">

  <div class="container-fluid">

     <div class="text-center">
       <p class="titleFront">Livraison offerte</p>
     </div>

     <form [formGroup]="livraisonForm" novalidate>

      <div class="row" style="padding-top: 65px;font-size: 13px;">

        <div class="col-md-4">
          <small style="font-size: 10px;">Entrer un nombre de points</small>
          <mat-form-field appearance="outline" class="example-full-width">
            <input type="number" min="0" matInput formControlName="point" placeholder="Pour" required>
              <mat-icon matTooltip="{{account_validation_messages.point[0].message}}"
              *ngIf="livraisonForm.get('point').hasError(account_validation_messages.point[0].type) && (livraisonForm.get('point').dirty || livraisonForm.get('point').touched)"
              style="cursor: pointer;" matSuffix>
              <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
          </mat-form-field>
  
        </div><!--col-->
        <div class="col-md-4">
          <small style="font-size: 10px;">Choisir un type de point</small>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-select formControlName="typesPoint" placeholder="Points de" required>
              <mat-option *ngFor="let type of types" value="{{type._id}}">{{type.nom}}</mat-option>
            </mat-select>
            <mat-icon matTooltip="{{account_validation_messages.typesPoint[0].message}}"
              *ngIf="livraisonForm.get('typesPoint').hasError(account_validation_messages.typesPoint[0].type) && (livraisonForm.get('typesPoint').dirty || livraisonForm.get('typesPoint').touched)"
              style="cursor: pointer;" matSuffix>
              <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
          </mat-form-field>
  
        </div><!--col-->

        <div class="col-md-4">
          <small style="font-size: 10px;">Entrer le nombre de livraison offerte</small>
          <mat-form-field appearance="outline" class="example-full-width">
            <input type="number" min="0" ngModel="1" matInput formControlName="nombreLivraison" placeholder="Livraison" required>
              <mat-icon matTooltip="{{account_validation_messages.nombreLivraison[0].message}}"
              *ngIf="livraisonForm.get('nombreLivraison').hasError(account_validation_messages.nombreLivraison[0].type) && (livraisonForm.get('nombreLivraison').dirty || livraisonForm.get('nombreLivraison').touched)"
              style="cursor: pointer;" matSuffix>
              <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
          </mat-form-field>
  
        </div><!--col-->
  
  
      </div><!--row-->
  
  
       <div class="text-center">
        <button mat-button mat-dialog-close>Fermer</button>
        <button mat-button type="submit" (click)="addLivraison()" cdkFocusInitial style=" background:linear-gradient(90deg, #0c1733, #3fd27e) !important;color:#fff">Ajouter</button>
      </div>

     </form>

  </div><!--fluid-->

</mat-dialog-content>
