.side-menu li i {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 7px;
}

.side-menu li {
  text-align: left;
}

.ko-page-content .ko-sidebar .side-menu li.active a {
  color: #000;
}

.ko-page-content .ko-sidebar .side-menu li a {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  cursor: pointer;
}

.title-menu{
  padding: 6px;
  font-weight: bold;
}

.title-menu1{
  padding: 7px;
  font-weight: bold;
}

.title-menu2{
  padding: 6px;
  font-weight: bold;
}

.title-menu3{
  padding: 6px;
  font-weight: bold;
}

.title-sub-menu{
  padding-left: 27px;
  font-weight: bold;
}

.title-menu4{
  padding: 10px;
  font-weight: bold;
}

.title-menu5{
  font-weight: bold;
  position: absolute;
  top: 27px;
  left: 76px;
}
