<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
  
      <div class="text-center">
        <p class="titleFront">Modifier livraison</p>
      </div>
  
      <form novalidate *ngIf="livraison">
  
        <div class="row" style="padding-top: 40px;">
  
          <div class="col-md-4">
            <small style="font-size: 10px;">Entrer un nombre de points</small>
            <mat-form-field appearance="outline" class="example-full-width">
              <input type="number" matInput name="point" [(ngModel)]="livraison.point" #point="ngModel" required>
            </mat-form-field>
            <div *ngIf="point.errors && (point.dirty || point.touched)">
                <div [hidden]="!point.errors.required">
                  <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
                </div>
            </div>
    
          </div><!--col-->
          <div class="col-md-4">
            <small style="font-size: 10px;">Choisir un type de point</small>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-select name="typesPoint" [(ngModel)]="livraison.typesPoint" #typesPoint="ngModel" required>
                <mat-option *ngFor="let type of types" value="{{type._id}}">{{type.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="typesPoint.errors && (typesPoint.dirty || typesPoint.touched)">
                <div [hidden]="!typesPoint.errors.required">
                  <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
                </div>
            </div>
    
          </div><!--col-->

          <div class="col-md-4">
            <small style="font-size: 10px;">Entrer le nombre de livraison offerte</small>
            <mat-form-field appearance="outline" class="example-full-width">
              <input type="number" matInput name="nombreLivraison" [(ngModel)]="livraison.nombreLivraison" #nombreLivraison="ngModel" placeholder="Livraison" required>
            </mat-form-field>
            <div *ngIf="nombreLivraison.errors && (nombreLivraison.dirty || nombreLivraison.touched)">
              <div [hidden]="!nombreLivraison.errors.required">
                <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
              </div>
          </div>
    
          </div><!--col-->
        
    
        </div><!--row-->
  
        <div class="text-center">
           <button mat-button mat-dialog-close>Fermer</button>
           <button mat-button type="submit" (click)="updateLivraison(livraison)" cdkFocusInitial style=" background:linear-gradient(90deg, #0c1733, #3fd27e) !important;color:#fff">Mettre à jour</button>
        </div>
  
      </form><!--Form-->
      <div *ngIf="onLoadForm" style="padding-top: 20px;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div><!--c-->
  </mat-dialog-content>
  