.headerBare{
  background: #fff !important;
  border-bottom: 1px solid #e5e2e2;
}

.linkMenu{
  font-size: 13px;
  color: #707070;
}

.linkIcon{
  color: #04075e;
  font-size: 15px;
}

.vl {
  border-left: 1px solid #e2e1e1;
  height: 42px;
  position: absolute;
  /* left: 50%; */
  margin-left: -3px;
  top: 9px;
}
