<div class="container">

  <h1>Conditions générales d'utilisation</h1>

  <h2>Article 1 : introduction</h2>

  <p>KATANA est une entreprise individuelle dont le siège social est situé à
  Sacré cœur 3 villa 4 à Dakar au Sénégal, immatriculée au Registre du
  Commerce et des Sociétés de Dakar, sous le numéro 009416208.
  KATANA a conçu et exploite une plateforme web et des applications
  mobiles (ci-après le(s) « Service(s) »), accessibles à distance en ligne,
  permettant aux clients professionnels de créer et gérer leurs
  programmes de fidélisation.</p>

  <h2>Article 2 : Objet et champ d’application des CGU</h2>

 <p>> Les présentes Conditions Générales d’Utilisation décrites ci-après et ci-
  après dénommées « CGU », régissent les rapports entre KATANA et les
  Utilisateurs, ci- après dénommés « l’Utilisateur » ou « les Utilisateurs »
  qui prend en compte aussi bien les utilisateurs professionnels qui
  mettent des programmes de fidélité en place et les leurs clients. Elles
  s’appliquent sans restriction ni réserve pour toute utilisation ou
  téléchargement de l’Application Mobile.</p>

  <p>L’Utilisateur accepte d’office les présentes CGU pour tout
  téléchargement et pour toute utilisation de l’Application Mobile dès
  qu’il crée un compte et accède à l’application.</p>

  <p>Les présentes CGU sont accessibles à tout moment dans l’Application
  Mobile dans la rubrique « Compte », et sur le site internet au niveau du
  pied de page (footer) et prévaudront le cas échéant, sur toute autre
  version ou tout autre document contradictoire.</p>

  <p>KATANA pourra modifier les présentes CGU à tout moment, sans
  préavis et sans avoir à le communiquer préalablement aux Utilisateurs.
  Dès lors que cela lui semble opportun les Utilisateurs seront informés
  de la modification des présentes par le biais de la publication des CGU
  actualisées. Les CGU modifiées prendront effet à partir de leur
  publication. La poursuite de l’utilisation du Service suite à cette
  publication constituera une acceptation de la nouvelle version des
  présentes.</p>

  <p>L’Hébergeur de l’Application Mobile est ALWAYSDATA, SARL au capital de
  200 000 € immatriculée au RCS de Paris sous le numéro 492 893 490
  dont le siège social est situé 91 rue du Faubourg Saint Honoré, 75008
  Paris, France.</p>

  <p>Il est donc conseillé aux Utilisateurs de lire très attentivement les
  présentes CGU et de consulter régulièrement les CGU mises à jour,
  dans la rubrique « Compte » de l’Application Mobile ou au niveau du
  pied de page (footer) du site internet Wefid (www.wefid.io/site).</p>

  <p>Dans le cas où un Utilisateur n’accepterait pas les présentes CGU ou
  refuserait de s’y conformer, il ne doit pas utiliser l’Application Mobile.</p>

  <p>Dans ce cas, il est recommandé de désinstaller l’Application Mobile.
  En procédant à son Inscription, l’Utilisateur confirme avoir pris
  connaissance des présentes CGU et accepte de s'y soumettre sans
  réserve.</p>

  <p>Sauf preuve contraire, les données enregistrées dans le système
  informatique de l’Application Mobile constituent la preuve de
  l’ensemble des transactions conclues avec les Utilisateurs.</p>

  <h2>ARTICLE 3 : Présentation générale du service</h2>

  <h3>3.1 Objet du Service</h3>

  <p>Wefid propose aux utilisateurs la possibilité de créer des cartes de
  fidélité numérique. Dans les faits, après avoir fourni les informations
  nécessaires un Qr code est activé. Celui-ci correspond à la carte de
  fidélité. L’utilisateur peut la présenter dans tous les commerces qui
  utilisent le programme de fidélité Wefid. Ainsi il collectera des points
  qui lui donneront droit à des récompenses selon le programme de
  fidélité de chaque commerce.
  Le Service est destiné à notamment à transmettre des messages de
  communications des commerces. Une messagerie présente dans
  l’application permet aux utilisateurs de pouvoir consulter ces
  messages.</p>

  <h3>3.2 Fonctionnement du Service</h3>

  <p>L’Application Mobile Wefid peut être téléchargée via les boutiques
  d’applications mobiles (telles que notamment Google Play ou l’App
  Store) au moyen des technologies disponibles, et notamment d'un
  terminal mobile de type smartphone.</p>

  <p>Pour bénéficier du Service, l’Utilisateur doit donc disposer d’un
  smartphone, d’un accès internet et d’un Compte personnel
  d’Utilisateur.</p>

  <p>Les fonctionnalités de l’Application Mobile Wefid sont les suivantes :</p>

  <p> L’Utilisateur renseigne les informations nécessaires pour la
  création d’un Compte personnel d’Utilisateur ;</p>

  <p> l'Utilisateur a la possibilité de voir la liste des commerces par
  catégorie qui utilisent le programme de fidélité Wefid.
   l'Utilisateur à la possibilité de voir la liste des récompenses
  qu’offre chaque commerce dans l’application ;</p>

  <p> L’Utilisateur peut consulter les points de fidélité qu’il a obtenu par
  commerce et sélectionner les récompenses qu’il souhaite avoir si
  ses nombres de points le lui permettent ;</p>
  <p> L’utilisateur peut afficher son Qr code pour collecter des points
  dans tous les commerces qui utilisent le programme de fidélité
  Wefid</p>

  <h2>ARTICLE 4 : Création d’un compte personnel d’utilisateur</h2>

  <p>Pour accéder au Service, tout Utilisateur doit préalablement
  procéder à son Inscription en créant un Compte personnel
  d’Utilisateur.</p>

  <p>Afin de créer un compte personnel d’Utilisateur, l’Utilisateur doit
  s'inscrire en remplissant le formulaire d'inscription et renseigner
  les informations suivantes : nom, prénoms, numéro de téléphone,
  mot de passe choisi, puis compléter son profil avec ces
  informations obligatoires, adresse, âge, genre.</p>

  <p>La validation du Compte personnel d’Utilisateur est formalisée
  après vérification de son numéro de téléphone (envoi d’un code)</p>

  <p>En cas d’oubli de mot de passe, il suffit de cliquer sur « mot de
  passe oublié » et l’application envoie au numéro de téléphone de
  l’Utilisateur un code permettant de le redéfinir.</p>

  <p>Le renseignement de ces données et la validation du compte
  personnel sont indispensables à la fourniture du Service.</p>

  <p>l'Utilisateur s’engage à fournir des informations vraies, sincères,
  complètes et toujours à jour.</p>

  <p>Dans le cas où les informations transmises par L’Utilisateur se
  révèleraient fausses, incomplètes, obsolètes ou ne permettant
  pas la fourniture du Service dans les meilleures conditions,
  KATANA se réserve le droit de procéder à la fermeture du
  Compte personnel de l’Utilisateur et ainsi de lui refuser l’accès au
  Service, sans préavis et sans que cela ne lui ouvre un
  quelconque droit à indemnité́.</p>

  <p>L’Utilisateur s'engage à ne créer qu'un seul Compte personnel
  correspondant à son identité.</p>

  <p>L’Utilisateur reste seul responsable de tout usage qui pourrait
  être fait de ses identifiants et mot de passe, et de leur
  confidentialité́, ainsi que de toute utilisation de son Compte
  personnel.</p>

  <p>L’Utilisateur s'engage à informer immédiatement KATANA de
  toute utilisation ou risque d’utilisation frauduleuse de son Compte
  personnel, et de toute atteinte à la confidentialité́ et à la sécurité́
  de ses identifiants et mot de passe à l’adresse électronique de
  contact : contactktanatec@gmail.com</p>

  <p>KATANA ne pourra en aucun cas être tenue responsable de toute perte
  ou vol ou tout dommage résultant de la perte ou du vol ou d’une
  utilisation frauduleuse des données d’identifications des utilisateurs.</p>

  <h2>Article 5 : Tarifs et modalités financières</h2>

  <p>Le téléchargement et l’utilisation de l'application mobile Wefid est
  gratuit. L’Application Mobile téléchargée gratuitement permet d’accéder
  à tous les services proposés tels que décrits.</p>

  <h2>Article 8 : Limitation de responsabilité</h2>

  <p>À tout moment, KATANA pourra modifier, interrompre temporairement
  ou définitivement l’accès au Service, et ce, sans avoir à en informer les
  utilisateurs au préalable, KATANA ne prenant aucun engagement de
  maintenir un accès permanent et ininterrompu à l’Application Mobile
  et/ou au Service. KATANA n’est en aucun cas responsable de ces
  interruptions et des conséquences qui peuvent en découler pour
  l'utilisateur.</p>

  <p>KATANA ne sera pas responsable du fonctionnement inadéquat du
  Service s’il résulte d’opérations de maintenance, d’incidents, ou de
  problèmes liés à sa capacité́ à supporter les systèmes indispensables
  à l’utilisation du service, même si KATANA fera ses meilleurs efforts
  pour assurer une réponse rapide, sans se responsabiliser pour les
  retards liés aux services de télécommunications. Notamment, KATANA
  ne sera en aucun cas responsable du mauvais fonctionnement des
  opérateurs téléphoniques et des fournisseurs d’accès Internet
  auxquels l’utilisateur aura eu recours.</p>

  <p>KATANA n’offre aucune garantie quant au fonctionnement et à la
  disponibilité́ dans l’accès à l’Application Mobile Wefid en cas de

  survenance de cas de force majeure ou de cas fortuit tels que définis
  par la réglementation et la jurisprudence en vigueur.</p>

  <h2>Article 9 : Durée</h2>

  <p>Dans le cas du téléchargement de l’Application Mobile gratuite, les
  présentes CGU sont souscrites pour une durée indéterminée à compter
  de leur acceptation par l’utilisateur.</p>

  <h2>Article 10 : Résiliation</h2>

  <p>l'accès à l’Application Mobile et au Service pourrait être interrompu
  temporairement ou définitivement, notamment en cas de cessation par
  KATANA de l'activité́ en cause, ou en cas de liquidation judiciaire ou
  amiable de la société́ KATANA. Les présentes CGU seraient alors
  résiliées de plein droit.</p>

  <p>En cas de décès de l’Utilisateur, les relations contractuelles entre celui-
  ci et KATANA seront résiliées de plein droit et son Compte personnel
  sera désactivé, sur production des pièces justificatives pertinentes des
  ayants droit. Son contenu ne pourra être transmis aux ayants droit que
  sur décision de Justice.</p>

  <p>En cas de violation des présentes par l’Utilisateur, ou des lois et
  règlements en vigueur, notamment, mais pas exclusivement, en cas de
  comportement compromettant ou risquant de compromettre le bon
  fonctionnement du Service ou porter atteinte aux droits des tiers ou à
  la réputation du Service, KATANA se réserve le droit de suspendre
  et/ou de résilier unilatéralement l’exécution des présentes, et de

  bloquer et/ou supprimer le compte personnel de l’utilisateur concerné,
  ainsi que son accès à tout ou une partie du Service, sans que cela
  ouvre droit pour l’Utilisateur à une quelconque indemnité́, et sans
  préjudice de toute action en Justice que KATANA pourrait intenter par
  la suite pour faire valoir ses droits.</p>

  <p>Tout utilisateur peut se désinscrire à tout moment de l’Application
  Mobile en suivant la procédure suivante :</p>

  <p>1. Connexion à l’Application Mobile et saisie du login et mot de passe
  pour s’identifier;</p>
  <p>2. Clic sur l'onglet "Compte" ;</p>

  <p>3. Clic sur le bouton ‘’Supprimer le compte’’</p>

  <h2>Article 11 : Propriété intellectuelle et industrielle</h2>
  <h3>11.1 Titres de propriété́ intellectuelle de KATANA</h3>

  <p>L’ensemble du contenu de l’Application Mobile, l’application Web et du
  Sites Web, les photographies, logos, images, sons, vidéo, graphiques,
  textes, ou illustrations ainsi que sa structure, les bases de données,
  logiciels, ainsi que tout autre matériel et élément visuel composant
  l’Application Mobile est protégé, notamment par le droit de la propriété́
  intellectuelle dont KATANA reste le seul titulaire.</p>

  <p>Les présentes CGU n’emportent aucune cession d’aucune sorte de
  droits de propriété ​ intellectuelle sur les éléments appartenant à
  KATANA et/ou à ses partenaires au bénéfice de l’Utilisateur.</p>

  <p>Les Utilisateurs s’engagent à respecter les droits de propriété́
  intellectuelle attachés aux éléments composants l’Application Mobile et
  s’interdisent, notamment de les diffuser, publier, transmettre, céder à
  tout tiers, de les exploiter à des fins commerciales, de les reproduire,
  les copier ou les modifier sans autorisation expresse de KATANA.
  Notamment, toute extraction ou réutilisation des données contenues
  dans l’Application Mobile et Web, au-delà de son usage normal est
  strictement interdite à tout Utilisateur et est soumise à l'autorisation
  expresse et préalable de KATANA.</p>

  <h3>11.2 Droit d’usage de l’Application Mobile par l’Utilisateur</h3>

  <p>l'Utilisateur ne dispose que d'un droit d'usage strictement personnel,
  non exclusif et non transférable de l’Application Mobile. Tout autre
  usage est soumis à l’autorisation préalable et expresse de KATANA.</p>

  <p>Toute reproduction, représentation ou diffusion, y compris l’addition à
  celle-ci de nouvelles fonctions ou la réalisation de modifications sur
  celle-ci qui altéreront son fonctionnement, par quelque moyen que ce
  soit et sur quelque support que ce soit, est formellement interdite, à la
  seule exception du droit de reproduire pour stockage aux fins de
  représentation pour copie de sauvegarde ou impression sur support
  papier en un exemplaire, sous condition du respect de l'intégrité́ des
  documents.</p>

  <p>Le droit d’utilisation de l’Application Mobile accordée en vertu des
  présentes CGU pourra être résilié à tout moment par l’Utilisateur par la
  désinstallation de l’Application et l’élimination de l’ensemble des
  copies de l’Application Mobile sur ses appareils.</p>

  <h2>Article 12 : Politique de confidentialité et des données personnelles</h2>

  <h3>12.1 Généralités</h3>

  <p>La collecte des données personnelles recueillies par le biais du Service
  est nécessaire au bon fonctionnement du Service et est obligatoire
  pour accéder aux services proposés via l’Application Mobile.</p>

  <p>Le défaut de communication des données personnelles obligatoires
  empêche l’accès au Service proposé par KATANA. Ces données
  personnelles sont utilisées afin de fournir de meilleurs services aux
  utilisateurs.</p>

  <p>KATANA réalise la conservation des Données Personnelles de façon à
  permettre le respect de leur intégrité durant le temps nécessaire à la
  réalisation et la fourniture du Service proposé et conformément aux
  durées de conservation imposées par la législation en vigueur.</p>

  <h3>12.2 Obligations de KEY EVENT SENEGAL :</h3>

  <p>KATANA s’engage à traiter lesdites données personnelles dans le
  respect de la réglementation, et à cet égard, s’engage à :</p>

  <p>- Ne collecter et traiter les données personnelles que
  conformément aux instructions expresses de l’Utilisateur et aux
  finalités liées à l’objet des services proposés via l’Application Mobile.</p>

  <p>- Préserver la sécurité, l’intégrité et la confidentialité des données
  personnelles dès lors qu’il procède à leur collecte ou leur
  enregistrement dans le cadre de l’exécution des Services ;</p>

  <p>- Ne communiquer les données personnelles à aucun tiers quel qu’il
  soit, hormis les tiers auxquels il est strictement nécessaire de
  transmettre les données personnelles en exécution des prestations
  proposées ; Les données personnelles ainsi collectées pourront ainsi
  être transmises au Personnel de KATANA ainsi qu’à tout tiers chargé
  de participer à la mise en place, à la réalisation ou au suivi du Service
  (personnel, partenaires et/ou sous-traitants). Les membres du
  personnel de KATANA ainsi que les tiers désignés par ce dernier,
  auront accès et pourront utiliser les données personnelles collectées
  dans le seul but de fournir le Service proposé.</p>

  <p>En aucun cas, les données personnelles ne seront cédées à d’autres
  tiers, que ce soit à titre gracieux ou onéreux, sans l’autorisation de
  l’utilisateur, à l’exception des cas prévus à l’article 10 des présentes qui
  prévoit que les données permettant l’identification de l’Utilisateur
  pourront être transmises aux ayants droit sur décision de Justice.</p>

  <p>- N’effectuer aucun transfert de données personnelles en dehors du
  territoire du Sénégal, hormis vers des pays tiers présentant un niveau
  de protection adéquat au sens des autorités de contrôle ou vers un

  sous-traitant autorisé par l’Utilisateur et signataire des clauses
  contractuelles types adoptées par les autorités Sénégalaise ;</p>

  <p>- Mettre en place tout système de sécurisation des données qui
  serait requis soit en raison d’une analyse d’impact menée par
  l’utilisateur en tant que responsable du traitement soit en raison d’une
  législation spécifique imposant de recourir à des modalités
  déterminées de conservation des données ;</p>

  <p>KATANA s’abstient en toute hypothèse de reproduire, exploiter ou
  utiliser les données personnelles collectées à ses propres fins ou pour
  le compte de tiers, et s’engage à modifier ou supprimer, soit à la
  demande de l’utilisateur, soit à la demande d’une personne concernée,
  et en toute hypothèse à l’achèvement de la finalité poursuivie et au
  terme de l’exécution de ses prestations, toute donnée personnelle
  collectée à l’occasion ou aux fins d’exécution desdites prestations.</p>

  <p>Tout utilisateur peut envoyer une plainte au sujet du respect de la vie
  privée ou toute question au sujet des informations recueillies et
  traitées par KATANA à l’adresse électronique suivante :
  contactktanatec@gmail.com</p>

  <h3>12.3 Nature des informations collectées</h3>

  <p>Lors de la souscription et l’utilisation du Service, KATANA ne recueille
  et conserve que certaines informations, à savoir : prénom, nom,
  numéro de téléphone, mot de passe choisi, numéro de téléphone, âge,
  lieu d’habitation.</p>

  <h3>12.4 Droit d’accès, de rectification et de suppression des données
    personnelles</h3>

  <p>Tout utilisateur a le droit d’accéder, de rectifier ou de s’opposer au
  traitement de toute donnée le concernant qui ne soit pas indispensable
  à la finalité du service.</p>

  <p>A cet effet, au sein des registres informatiques de KATANA peuvent
  être conservés les noms ou prénom, le numéro de téléphone, le mot de
  passe, l’adresse IP de l’Utilisateur, la marque et le modèle de l’appareil,
  l’opérateur mobile, la date et l’heure exacte de publication des
  informations et contenus transmis via l’Application Mobile.</p>

  <h3>12.5 Utilisation des cookies, identifiants et du fichier d’activité</h3>

  <p>Afin d’améliorer le Service Wefid en termes de rendement du système
  et de facilité d’usage, ainsi que pour proposer de l’information utile sur
  les produits et services, peuvent être recueillies automatiquement et
  conservées des informations dans les fichiers de registre (log files) en
  provenance des ordinateurs ou terminaux utilisés.</p>

  <p>Ceci inclut des données non personnelles telles que l’adresse IP, le
  type de navigateur, langue sélectionnée, le système d’exploitation, le
  fournisseur d’accès Internet (ISP) ainsi que la date et l’heure. Ces
  informations sont utilisées de façon globale pour améliorer la gestion
  de l’Application Mobile, analyser les tendances et recueillir des
  données démographiques sur les Utilisateurs.</p>

  <p>Si des informations non personnelles sont utilisées en combinaison
  avec les Données Personnelles, l’ensemble sera traité en tant que
  Données Personnelles et sera dès lors traité conformément au présent
  article 12.</p>

  <p>De même, dans le but d’optimiser les services de KATANA, les
  messages envoyés par courrier électronique, les services onlines, les
  publicités et les applications interactives peuvent utiliser les “cookies”
  ou les “identifiants anonymes” des utilisateurs (en ce qui concerne les
  Sites web).</p>

  <p>Que sont les cookies ?</p>

  <p>Un cookie est un petit fichier, habituellement formé par des lettres et
  des nombres, envoyés par notre serveur web ou par l’Application
  Mobile à un fichier de cookies du navigateur de l’utilisateur. Ceci
  permet à KATANA de se souvenir de la présence d’un utilisateur lors de
  l’établissement d’une nouvelle connexion au serveur de Wefid et le
  navigateur de l'utilisateur. Le principal objectif d’un cookie est de
  permettre au serveur de Wefid de présenter des pages web
  personnalisées qui puissent faire de la consultation du Service une
  expérience individuelle et ajustée aux préférences personnelles.</p>

  <p>Que sont les identifiants ou sondes ?</p>

  <p>Un identifiant anonyme est une chaîne de caractères aléatoires qui
  s’utilise avec la même finalité́ que les cookies sur des plateformes sur
  lesquelles la technologie des cookies est indisponible, ceci inclut
  certains types d’appareils mobiles ainsi que les applications installées.</p>

  <h2>Article 13 : Législation applicable</h2>

  <p>La conclusion, l'interprétation et la validité́ des présentes CGU et
  l’ensemble des contrats qui en découlent et leurs suites sont soumis à la
  Loi et la Réglementation Sénégalaise en vigueur, à l'exclusion de toute
  autre législation, quelle que soit la nationalité́ de l’Utilisateur, il en est
  ainsi pour les règles de fond et de formes.</p>

  <p>À défaut d’accord amiable entre les parties et en cas d'échec des
  pourparlers, les parties reprendront leur entière liberté́ et leur litige sera
  porté devant les juridictions compétentes.</p>

  <p>De convention expresse, à défaut d’accord amiable, les juridictions du
  ressort du siège social de KATANA seront seules compétentes pour tout
  litige ou contestation se rapportant notamment, mais pas exclusivement
  à la formation, l’interprétation, à l’exécution, ou à l’inexécution, résiliation
  des présentes, nonobstant pluralité́ de défendeurs ou appel en garantie,
  même pour les procédures conservatoires, en référé́ ou par requête.</p>

  <p>En cas de difficulté́ d'interprétation, la version en langue française des
  présentes CGU prévaut sur toute autre version qui serait traduite dans
  une autre langue.</p>

</div><!--container-->
