.numberTitle {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  bottom: 15px;
}

.titleCadeau {
  color: #707070;
  text-align: center;
  font-size: 8px;
}

table {
  width: 100%;
}

.sizeb {
  width: 51px;
  background: #04075E !important;
  color: #fff;
  height: 46px;
}

.sizeBut {
  background: #04075E !important;
  color: #fff;
  height: 44px;
}

.sizeButtons {
  width: 121px;
  background: #04075E !important;
  color: #fff;
  height: 44px;
  position: relative;
  bottom: 3px;
}
table {
  width: 100%;
}

