
<div class="login-body">

  <div class="container">
    <div class="contentPage">

      <div class="row justify-content-md-center">
        <div class="col-lg-7 col-md-auto">
          <mat-card class="exemple-card" style="box-shadow: none !important;opacity: 80%;" *ngIf="!passwordchanged">
              <mat-card-title class="titleCard">
               <div class="text-center">
                  <p style="color:#04075E;font-size: 15px;">Réinitialiser mot de passe</p>
                  <p *ngIf="passwordchangederror" style="color:#d41750;font-size: 12px;font-weight: normal;"> Votre mot de passe a déjà été changé</p>
               </div>
              </mat-card-title>

              <form [formGroup]="changepasswordForm" novalidate>

                <mat-card-content style="margin: 0 60px 0 60px;">

                  <div>

                      <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label style="color: #000000;font-size: 14px;">Mot de passe</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password" appAppPassword required>
                        <button *ngIf="changepasswordForm.get('password').value && changepasswordForm.get('password').value!=''" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                      <div>
                        <mat-error *ngFor="let validation of account_validation_messagespassword.password">
                          <mat-error class="error-message" style="font-size: 12px;"
                            *ngIf="changepasswordForm.get('password').hasError(validation.type) && (changepasswordForm.get('password').dirty || changepasswordForm.get('password').touched || (submitted))">
                            {{validation.message}}</mat-error>
                        </mat-error>
                        <br/>
                      </div>

                  </div><!--div-->

                  <div>

                      <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label style="color: #000000;font-size: 14px;">Confirmer le mot de passe</mat-label>
                        <input [type]="hidePassword ? 'password' : 'text'" appConfirmEqualValidator="password" matInput formControlName="confirmpassword"
                          name="confirmpassword" appAppPassword required>
                        <button *ngIf="changepasswordForm.get('confirmpassword').value && changepasswordForm.get('confirmpassword').value!=''" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                      <div>
                        <mat-error *ngFor="let validation of account_validation_messagespassword.confirmpassword">
                          <mat-error class="error-message" style="font-size: 12px;"
                            *ngIf="changepasswordForm.get('confirmpassword').hasError(validation.type) && (changepasswordForm.get('confirmpassword').dirty || changepasswordForm.get('confirmpassword').touched || (submitted))">
                            {{validation.message}}</mat-error>
                        </mat-error>
                        <span class="text-danger" style="font-size: 12px;" *ngIf="changepasswordForm.get('confirmpassword').errors?.notEqual">
                           Les deux mot de passe ne correspondent pas
                        </span>
                        <br/>
                      </div>

                  </div><!--div-->


                  <div class="row" style="margin-left: 40px;">
                    <div class="col-md-6">
                        <button type="submit" (click)="onChangePassword()" [disabled]="changepasswordForm.invalid" mat-raised-button class="sizeButton" style="color: #fff;">Valider</button>
                    </div><!--col-->
                    <div class="col-md-6">
                      <button mat-raised-button class="sizeButtonA" [routerLink]="'/'"><i class="fas fa-long-arrow-alt-left" style="font-size: 23px;"></i></button>
                    </div><!--col-->
                  </div><!--row-->
                  <!--<div class="text-center">
                  </div>text-center-->
                </mat-card-content>
                <mat-card-footer *ngIf="isMailLoading">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>

              </form>


          </mat-card>

          <mat-card class="exemple-card" style="box-shadow: none !important;opacity: 80%;" *ngIf="passwordchanged">

                <mat-card-content style="margin: 0 60px 0 60px;">


                    <div class="text-center">
                      <p style="color: #04075E;font-size: 15px;font-weight: 700;">
                        Reinitialisation du mot de passe effectué avec succès.
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="text-center">
                          <button mat-raised-button class="sizeButtonAV" [routerLink]="'/'">Cliquez ici pour vous connecter.</button>
                        </div>
                      </div><!--col-->
                    </div><!--row-->

                </mat-card-content>
          </mat-card>


        </div><!--col-->
    </div><!--row-->

    </div>

  </div><!--container-->

</div><!--div-->

