.labelFrom {
    color: #000000;
    font-size: 13px;
  }
  
  .iconFrom {
    color: #CECECE;
    font-size: 24px;
    font-weight: 700;
    margin-right: 13px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  /*::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgb(179, 177, 177);
    border-radius: 5px;
    color: rgb(151, 149, 149);
  }*/

  .titleInfo {
    text-align: center;
    //font-weight: 800;
    font-size: 20px;
    color: #04075E;
  }

  .titleFront {
    font-size: 20px;
    color: #04075E;
    //font-weight: bold;
  }

  .file-input {
    display: none;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  .my-error{
    color: #e30959;
    font-weight: bold;
  }

  .my-success{
    color: #04075E;
  }
  
  
  