<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
  
      <div class="text-center">
        <p class="titleFront">Modifier réduction</p>
      </div>
  
      <form novalidate *ngIf="reduction">
  
        <div class="row" style="padding-top: 65px;">
  
          <div class="col-md-2">
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Pour</mat-label>
              <input type="number" min="0" matInput name="point" [(ngModel)]="reduction.point" #point="ngModel" required>
            </mat-form-field>
            <div *ngIf="point.errors && (point.dirty || point.touched)">
                <div [hidden]="!point.errors.required">
                  <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
                </div>
            </div>
    
          </div><!--col-->
          <div class="col-md-3">
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Points de</mat-label>
              <mat-select name="typesPoint" [(ngModel)]="reduction.typesPoint" #typesPoint="ngModel" required>
                <mat-option *ngFor="let type of types" value="{{type._id}}">{{type.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="typesPoint.errors && (typesPoint.dirty || typesPoint.touched)">
                <div [hidden]="!typesPoint.errors.required">
                  <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
                </div>
            </div>
    
          </div><!--col-->

          <div class="col-md-5">
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Appliquer une réduction de</mat-label>
              <input type="number" min="0" matInput name="montant" [(ngModel)]="reduction.montant" #montant="ngModel" required>
            </mat-form-field>
            <div *ngIf="montant.errors && (montant.dirty || montant.touched)">
                <div [hidden]="!montant.errors.required">
                  <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
                </div>
            </div>
    
          </div><!--col-->


          <div class="col-md-2">
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Devise</mat-label>
              <mat-select matInput name="devise" [(ngModel)]="reduction.devise" #devise="ngModel" required>
                <mat-option value="fcfa">fcfa</mat-option>
                <mat-option value="%">%</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="devise.errors && (devise.dirty || devise.touched)">
              <div [hidden]="!devise.errors.required">
                <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
            </div>
          </div>
           
          </div><!--col-->
    
        </div><!--row-->

        <div class="row" style="font-size: 13px;">
          <div class="col-md-6" *ngIf="!hProduit">
 
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Produits</mat-label>
              <mat-select name="produit" [(ngModel)]="reduction.produit" #produit="ngModel">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let produit of produits" value="{{produit._id}}" (click)="hideFacture()">{{produit?.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
           
 
          </div><!--col-md-6-->
 
          <div class="col-md-6">
           <div style="float:left;">
             <section class="example-section">
               <mat-checkbox class="example-margin" (change)="hideProduit($event.checked)" name="facture" [(ngModel)]="reduction.facture" #facture="ngModel">Sur la facturation</mat-checkbox>
             </section>
           </div><!----> 
          </div><!--col-md-6-->
       </div><!--row-->
  
        <div class="text-center">
           <button mat-button mat-dialog-close>Fermer</button>
           <button mat-button type="submit" (click)="updateReduction(reduction)" cdkFocusInitial style=" background:linear-gradient(90deg, #0c1733, #3fd27e) !important;color:#fff">Mettre à jour</button>
        </div>
  
      </form><!--Form-->
      <div *ngIf="onLoadForm" style="padding-top: 20px;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div><!--c-->
  </mat-dialog-content>
  