<app-nav-bar>

  <div class="container-fluid">

     <mat-tab-group>
            <mat-tab>

              <ng-template mat-tab-label>
                Compte entreprise <i class="fas fa-building" style="font-size: 20px;margin-left: 8px;"></i>
              </ng-template>
            
              <div class="row contentInfo">
                <div class="col-md-12">
                  <app-entreprise></app-entreprise>
                </div><!--col--> 
                
              </div><!--row-->

            <mat-divider></mat-divider>   

             <div class="row contentInfo" style="padding-top: 27px">

               <div class="col-md-6">
                <app-password></app-password>
               </div><!--col-->

               <div class="col-md-6">

                <p class="titleInfo">Configuration</p>

                <section  *ngIf="avoir">
                  <form novalidate>
                    <p class="labelFrom" style="font-weight: normal;"><mat-checkbox name="avoir"  [(ngModel)]="avoir.avoir" (change)="updateAvoir(avoir)">Activer enregistrement des avoirs</mat-checkbox></p>
                  </form>
                </section>

                <section  *ngIf="avoir">
                  <form novalidate>
                    <p class="labelFrom" style="font-weight: normal;"><mat-checkbox name="visite"  [(ngModel)]="avoir.visite" (change)="updateAvoir(avoir)">Activer enregistrement des points visites</mat-checkbox></p>
                  </form>
                </section>

                <section  *ngIf="avoir">
                  <form novalidate>
                    <p class="labelFrom" style="font-weight: normal;"><mat-checkbox name="depense"  [(ngModel)]="avoir.depense" (change)="updateAvoir(avoir)">Activer enregistrement des montants dépensés</mat-checkbox></p>
                  </form>
                </section>

               </div><!--col-->

             </div><!--row-->

             <mat-divider></mat-divider> 
              
             <app-horaire></app-horaire>

            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Gestion du personnel <i class="fas fa-users" style="font-size: 20px;margin-left: 8px;"></i>
              </ng-template>

              <div class="contentInfo">
                <div class="row">
                    <div class="col-md-12">
                      <div style="float: right;margin-bottom: 15px;">
                         <button mat-raised-button class="sizebp" matTooltip="Ajouter une personne" (click)="openDialog()"><i class="fas fa-plus" style="font-size: 23px;"></i></button>
                      </div>
                    </div>
                </div><!--row-->

                <div class="row">
                   <div class="col-md-12">

                      <div>
                        <mat-card>
                           <mat-card-content>

                            <table mat-table [dataSource]="dataSource">

                              <!-- Position Column -->
                              <ng-container matColumnDef="nom">
                                <th mat-header-cell *matHeaderCellDef style="color: #000;"> Nom personnel </th>
                                <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element.nom}} </td>
                              </ng-container>

                               <!-- Position Column -->
                               <ng-container matColumnDef="prenom">
                                <th mat-header-cell *matHeaderCellDef style="color: #000;"> Prénom personnel </th>
                                <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element.prenom}} </td>
                              </ng-container>

                               <!-- Position Column -->
                               <ng-container matColumnDef="poste">
                                <th mat-header-cell *matHeaderCellDef style="color: #000;"> Poste </th>
                                <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element.poste}} </td>
                              </ng-container>

                              <!-- Name Column -->
                              <ng-container matColumnDef="identifiant">
                                <th mat-header-cell *matHeaderCellDef style="color: #000;"> Identifiant </th>
                                <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">
                                  <span *ngIf="element.phone"> {{element.phone}}</span>
                                  <span *ngIf="element.email"> {{element.email}}</span> 
                                </td>
                              </ng-container>

                              <!-- Weight Column -->
                              <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef style="color: #000;"> Action </th>
                                <td mat-cell *matCellDef="let element"> 
                                  <button mat-icon-button (click)="openDialogUpdate(element.id,'update')" matTooltip="Modifier l'agent"><i class="fas fa-edit" style="color:#2f0ce2;"></i></button>
                                  <button mat-icon-button (click)="openDialogUpdate(element.id,'password')" matTooltip="Changer le mot de passe"><i class="fas fa-lock"></i></button>  
                                  <button mat-icon-button (click)="openDialogDelete(element.id)" matTooltip="Supprimer l'agent"><i class="fas fa-trash-alt" style="color:#cf0861;"></i></button>
                                </td>
                              </ng-container>

                             
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            </table>

                            <mat-paginator [pageSizeOptions]="[10, 20]"
                                          showFirstLastButtons
                                          aria-label="Select page of periodic elements">
                            </mat-paginator>

                           </mat-card-content>
                        </mat-card><!---->
                        
                      </div>

                   </div><!--col-->
                </div><!---->



              </div>



            </mat-tab>
     </mat-tab-group>

  </div><!--Fluid-->

</app-nav-bar>
