<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
  
      <div class="text-center">
        <p class="titleFront">Modifier points visites</p>
      </div>
  
      <form novalidate *ngIf="visite">
  
        <div class="row" style="padding-top: 65px;">
  
          <div class="col-md-6">
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Pour chaque passage à la caisse offrir</mat-label>
              <input type="number" matInput name="point" [(ngModel)]="visite.point" #point="ngModel" required>
            </mat-form-field>
            <div *ngIf="point.errors && (point.dirty || point.touched)">
                <div [hidden]="!point.errors.required">
                  <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
                </div>
            </div>
    
          </div><!--col-->
          <div class="col-md-6">
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Points de</mat-label>
              <mat-select name="typesPoint" [(ngModel)]="visite.typesPoint" #typesPoint="ngModel" required>
                <mat-option *ngFor="let type of types" value="{{type._id}}">{{type.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="typesPoint.errors && (typesPoint.dirty || typesPoint.touched)">
                <div [hidden]="!typesPoint.errors.required">
                  <p class="text-danger" style="font-size: 13px;">Ce champ est obligatoire!</p>
                </div>
            </div>
    
          </div><!--col-->
        
    
        </div><!--row-->
  
        <div class="text-center">
           <button mat-button mat-dialog-close>Fermer</button>
           <button mat-button type="submit" (click)="updateVisite(visite)" cdkFocusInitial style=" background:linear-gradient(90deg, #0c1733, #3fd27e) !important;color:#fff">Mettre à jour</button>
        </div>
  
      </form><!--Form-->
      <div *ngIf="onLoadForm" style="padding-top: 20px;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div><!--c-->
  </mat-dialog-content>
  