<mat-dialog-content class="mat-typography">
  <div class="container-fluid">

    <div class="text-center">
      <p class="titleFront">Article cadeau</p>
    </div>

    <form [formGroup]="cadeauForm" novalidate>

      <div class="row" style="padding-top: 20px;">

        <p class="addbooster" (click)="viewBooster()">Cadeau booster</p>

        <div class="col-md-2">
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label class="labelFrom">Pour</mat-label>
            <input type="number" matInput formControlName="point" required>
            <mat-icon matTooltip="{{account_validation_messages.point[0].message}}"
            *ngIf="cadeauForm.get('point').hasError(account_validation_messages.point[0].type) && (cadeauForm.get('point').dirty || cadeauForm.get('point').touched)"
            style="cursor: pointer;" matSuffix>
            <i class="fas fa-exclamation-circle"></i>
           </mat-icon>
          </mat-form-field>
        </div><!--col-->
        <div class="col-md-5">
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label class="labelFrom">Points de</mat-label>
            <mat-select formControlName="typesPoint" required>
              <mat-option *ngFor="let type of types" value="{{type._id}}">{{type.nom}}</mat-option>
            </mat-select>
              <mat-icon matTooltip="{{account_validation_messages.typesPoint[0].message}}"
              *ngIf="cadeauForm.get('typesPoint').hasError(account_validation_messages.typesPoint[0].type) && (cadeauForm.get('typesPoint').dirty || cadeauForm.get('typesPoint').touched)"
              style="cursor: pointer;" matSuffix>
              <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
          </mat-form-field>
  
        </div><!--col-->
        <div class="col-md-5">
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label class="labelFrom">Offrir</mat-label>
            <mat-select formControlName="produit" required>
              <mat-option *ngFor="let produit of produits" value="{{produit._id}}">{{produit?.nom}}</mat-option>
            </mat-select>
              <mat-icon matTooltip="{{account_validation_messages.produit[0].message}}"
              *ngIf="cadeauForm.get('produit').hasError(account_validation_messages.produit[0].type) && (cadeauForm.get('produit').dirty || cadeauForm.get('produit').touched)"
              style="cursor: pointer;" matSuffix>
              <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
          </mat-form-field>
          <p class="addProduct" (click)="viewProduit()">Ajouter un produit</p>
  
        </div><!--col-->
  
      </div><!--row-->

      <div class="row" *ngIf="isBooster">
         <div class="col-md-6">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label class="labelFrom">Du</mat-label>
            <input type="date" matInput formControlName="dateDebut" >
          </mat-form-field>
         </div><!--col-md-6-->
         <div class="col-md-6">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label class="labelFrom">Au</mat-label>
              <input type="date" matInput formControlName="dateFin" >
            </mat-form-field>
         </div><!--col-md-6-->
      </div><!--row-->

      <div *ngIf="isProduit" style="margin-bottom: 10px;">
        <app-produit></app-produit>
      </div>
  
      <div class="text-center">
         <button mat-button mat-dialog-close>Fermer</button>
         <button mat-button type="submit" (click)="addCadeau()" cdkFocusInitial style=" background:linear-gradient(90deg, #0c1733, #3fd27e) !important;color:#fff">Mettre à jour</button>
      </div>

    </form><!--Form-->
    <div *ngIf="onLoadForm" style="padding-top: 20px;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div><!--c-->
</mat-dialog-content>
