<mat-dialog-content class="mat-typography">
  <div class="container-fluid">

    <div class="text-center">
      <p class="titleFront">Article cadeau</p>
    </div>

    <div class="row" style="padding-top: 65px;">

      <div class="col-md-4">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Pour</mat-label>
          <input type="number" matInput >
        </mat-form-field>

      </div><!--col-->
      <div class="col-md-4">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Points de</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

      </div><!--col-->
      <div class="col-md-4">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Offrir</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

      </div><!--col-->

    </div><!--row-->

    <div class="text-center">
       <button mat-button style=" background: #04075E !important;color:#fff">Mettre à jour</button>
    </div>

  </div><!--c-->
</mat-dialog-content>
