.titreHeader{
  font-size: 14px;
  color: #0c2461;
  text-align: center;
  font-weight: bold;
}

.labelFrom {
  color: #000000;
  font-size: 13px;
}

.iconFrom {
  color: #CECECE;
  font-size: 24px;
  font-weight: 700;
  margin-right: 13px;
}

.example-full-width {
  width: 100%;
}

.sizeb {
  width: 51px;
  background: #0c2461 !important;
  color: #fff;
  height: 46px;
}

.sizebf {
  //width: 41px;
  background: linear-gradient(90deg,#3fd27e, #0c1733) !important;
  color: #fff;
  //height: 46px;
}

.sizebff {
  //width: 41px;
  background: linear-gradient(90deg, #0c1733, #3fd27e) !important;
  color: #fff;
  //height: 46px;
}

.sizebr {
  width: 41px;
  background: #D70000 !important;
  color: #fff;
  height: 46px;
}

.sizebv {
  background: #0c2461 !important;
  color: #fff;
}

.sizebvs {
  background: #6FE443 !important;
  color: #fff;
}
.hposition{
  position: relative;
  bottom: 16px;
}

.sposition{
  position: relative;
  bottom: 13px;
}

.iconV{
  color: #0c2461;
  font-size: 30px;
}

.iconV1 {
  color: #4CBA23;
  font-size: 30px;
}

.vi1{
   position: relative;
   left: 49px;
   bottom: 36px;
}

.vi2 {
  position: relative;
  bottom: 5px;
  float: right;
}
.sizeButtonAB {
  width: 57px;
  background: #D70000 !important;
  color: #fff;
  //margin-bottom: 20px;
}

.file-input {
  display: none;
}


.vlseparater {
  border-left: 1px solid rgb(226, 225, 225);
  height: 277px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

ngb-carousel {
  max-width: 700px;
  margin: 50px auto;
}
ngb-carousel img {
  width: 100%;
  outline: none;
}
ngb-carousel {
  width: inherit;
  height: inherit;
}
.carousel-inner {
  overflow: visible;
}
.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}
.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.carousel-control-prev {
   z-index: 20;
}

.carousel-control-next {
   z-index: 20;
}
.carousel-indicators{
  z-index: 20;
}

.bluebutton{
  background: linear-gradient(90deg, #0c1733, #3fd27e) !important;
  color: #fff;
}

.greenbutton{
  background: linear-gradient(90deg,#3fd27e, #0c1733) !important;
  color: #fff;
}

.tox-tinymce{
  height: 250px !important;
}
