<app-nav-bar>

  <div class="container-fluid" style="margin-bottom: 25px;">

     <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12">
         <div class="text-end">
            <button mat-raised-button class="sizeButtonAB" [routerLink]="'/promotions'"><i class="fas fa-long-arrow-alt-left" style="font-size: 23px;"></i></button>
         </div>
      </div>
    </div><!--row-->

    <div class="row">

      <div class="col-md-8">

        <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Ecrire un message</ng-template>
              <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Critère d'activation & cible</ng-template>
              <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Segmentation</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
        

        <!--<mat-stepper labelPosition="bottom" #stepper>
          <mat-step>
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Ecrire un message</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Critère d'activation & cible</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Segmentation</ng-template>
          
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Paiement</ng-template>
           
          </mat-step>
        </mat-stepper>-->

      </div><!--col-md-8-->

      <div class="col-md-4">

        <mat-card>
          <mat-card-content>
            <p class="titreHeader" style="font-weight: 700;">Visualiser</p>
            <div class="row">
                <div class="col-md-6">
                  <i class="fas fa-bullseye iconV"></i>
                  <div class="vi1">
                     <span style="font-size: 13px;color: #000;">Taille de la cible</span>
                     <br/>
                     <span style="font-size: 15px;font-weight: 800;">5 0000 000</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <i class="fas fa-funnel-dollar iconV1"></i>
                  <div class="vi2">
                     <span style="font-size: 13px;color: #000;">Montant à payer</span>
                     <br/>
                     <span style="font-size: 15px;font-weight: 800;">5 0000 000</span>
                  </div>

                </div><!--col-->
            </div><!--row-->

          </mat-card-content>
      </mat-card>

      </div>

     <!-- <div class="col-md-3">

        <mat-card style="margin-bottom: 20px;">
            <mat-card-content>
              <p class="titreHeader">Information de base</p>

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label class="labelFrom">Nom de la promo</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label class="labelFrom">Nom de l'entreprise</mat-label>
                <input matInput>
              </mat-form-field>

              <div class="row">
                 <div class="col-md-8" style="font-size: 13px;">

                   <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label class="labelFrom">Action groupé</mat-label>
                      <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                      </mat-select>
                   </mat-form-field>

                 </div>
                 <div class="col-md-4" style="padding-top: 4px;">
                   <button mat-raised-button class="sizeb">OK</button>
                 </div>
              </div>

            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
              <p class="titreHeader">SMS</p>

              <mat-form-field class="example-full-width" appearance="fill">
                <textarea matInput></textarea>
              </mat-form-field>

              <mat-divider></mat-divider>

              <p class="titreHeader">Email & app</p>

              <mat-form-field class="example-full-width" appearance="fill">
                <textarea matInput></textarea>
              </mat-form-field>


            </mat-card-content>
        </mat-card>

      </div>

      <div class="col-md-3">

        <mat-card style="margin-bottom: 20px;">
            <mat-card-content>
              <p class="titreHeader">Critère d'activation</p>

              <div style="font-size: 12px;">
                 <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label class="labelFrom">Instantanné</mat-label>
                      <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                      </mat-select>
                   </mat-form-field>
              </div>

              <p class="titreHeader">Condition d'activation</p>

              <p style="font-size: 12px;color: #000;text-align: center;">Activer cette promotion si et seulement si</p>

               <mat-form-field appearance="outline" class="example-full-width">
                <mat-label class="labelFrom">Point de fidélité (intervalle)</mat-label>
                <input matInput>
              </mat-form-field>

              <p style="font-size: 12px;color: #000;text-align: center;">atteint un nombre de point entre</p>

              <div class="row" style="font-size: 11px;">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input type="number" matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input type="number" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div style="margin: 0 65px 0 69px;">
                <button mat-raised-button class="sizebv">Valider</button>
              </div>





            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
              <p class="titreHeader">Définir la cible</p>
              <div style="font-size: 12px;">
                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label class="labelFrom">Clients</mat-label>
                      <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div style="margin: 0 65px 20px 69px;">
                <button mat-raised-button class="sizebvs">Segmentation</button>
              </div>

              <div class="row" style="font-size: 11px;">

                <div class="col-md-2"><p style="font-size: 13px;color: #000;">Age:</p></div>
                <div class="col-md-4 hposition">
                  <mat-form-field appearance="legacy" class="example-full-width">
                    <mat-label class="labelFrom">Entre</mat-label>
                    <input type="number" matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-2">et</div>
                <div class="col-md-4 hposition">
                  <mat-form-field appearance="legacy" class="example-full-width">
                    <mat-label class="labelFrom">Ans</mat-label>
                    <input type="number" matInput>
                  </mat-form-field>
                </div>

              </div>
              <div class="row" style="font-size: 11px;">
                 <div class="col-md-4">
                   <p style="font-size: 13px;color: #000;">Sexe:</p>
                 </div>
                 <div class="col-md-8 sposition">

                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                      </mat-select>
                  </mat-form-field>

                 </div>
              </div>

              <div class="row" style="font-size: 11px;">
                 <div class="col-md-4">
                   <p style="font-size: 13px;color: #000;">Région:</p>
                 </div>
                 <div class="col-md-8 sposition">

                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                      </mat-select>
                  </mat-form-field>

                 </div>
              </div>

              <div class="row" style="font-size: 11px;">
                 <div class="col-md-4">
                   <p style="font-size: 13px;color: #000;">Zone:</p>
                 </div>
                 <div class="col-md-8 sposition">

                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                      </mat-select>
                  </mat-form-field>

                 </div>
              </div>

            </mat-card-content>
        </mat-card>

      </div>

      <div class="col-md-6">

      </div>-->

    </div><!--row-->

  </div><!--container-->

  <div style="float: right;position: relative;bottom: 421px;">
    <div style="margin-bottom: 10px;">
       <button mat-raised-button class="sizebf"><i class="fas fa-reply" style="font-size: 20px;"></i></button>
    </div>
    <div style="margin-bottom: 10px;">
       <button mat-raised-button class="sizebf"><i class="fas fa-save" style="font-size: 20px;"></i></button>
    </div>
    <div>
       <button mat-raised-button class="sizebr"><i class="fas fa-trash" style="font-size: 20px;"></i></button>
    </div>

  </div>

</app-nav-bar>
