<mat-dialog-content class="mat-typography">

  <div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <p class="nameUser">
       <!-- <i class="fas fa-user-circle" style="font-size: 38px;"></i>--> {{client?.user.nom}} {{client?.user.prenom}}
      </p>
    </div>
  </div><!--row-->
  <div class="row" style="padding-top: 20px;">
     <div class="col-md-4">

         <div class="row" style="font-size: 13px;">
            <div class="col-md-12">

              <!--<div class="card card-infos">
                <div class="card-body">
                  <p style="margin-bottom: 25px;"><i class="fas fa-envelope iconSize" style="margin-right: 10px;"></i> <span>{{client?.user.email}}</span></p>
                </div>
              </div>-->

              <div class="card card-infos">
                <div class="card-body">
                  <p style="margin-bottom: 25px;"><i class="fas fa-phone-alt iconSize" style="margin-right: 10px;"></i> <span>{{client?.user.phone}}</span> </p>
                </div>
              </div>

              <div class="card card-infos">
                <div class="card-body">
                  <p style="margin-bottom: 25px;"><i class="fas fa-restroom iconSize" style="margin-right: 10px;"></i> <span>{{client?.genre}}</span> </p>
                </div>
              </div>

              <div class="card card-infos">
                <div class="card-body">
                  <p><i class="fas fa-map-marker-alt iconSize" style="margin-right: 18px;"></i> <span>{{client?.adresse}}</span> </p>
                </div>
              </div>

            </div><!--col-md-6-->

         </div><!--row-->

     </div><!--col-md-6-->
     <div class="col-md-8" style="bottom: 51px;position: relative;">

      <mat-card style="margin-bottom: 10px;">
        <mat-card-content>
          <div class="row">
             <div class="col-md-4">
               <span class="point">Total de points</span>
               <p class="pointResult">+{{operation?.point}}</p>

             </div><!--col-md-4-->
             <div class="col-md-4">
                <span class="point">Montant depenses</span>
                <p class="pointResult">{{operation?.depense}}</p>
             </div><!--col-md-4-->
             <div class="col-md-4">
               <span class="point">Total avoir</span>
               <p class="pointResult">+{{operation?.avoir}}</p>

             </div><!--col-md-4-->
          </div><!--row-->
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div class="row">
             <div class="col-md-4">
               <span class="point">Première visite</span>
               <p class="pointResult">{{operation?.debut |date: 'dd/MM/YYYY'}}</p>

             </div><!--col-md-4-->
             <div class="col-md-4">
                <span class="point">Dernière visite</span>
                <p class="pointResult">{{operation?.fin |date: 'dd/MM/YYYY'}}</p>
             </div><!--col-md-4-->
             <div class="col-md-4">
               <span class="point">Visites</span>
               <p class="pointResult">+{{operation?.visite}}</p>

             </div><!--col-md-4-->
          </div><!--row-->
        </mat-card-content>
      </mat-card>

      <button mat-raised-button class="sizeButtons" (click)="isOpenR()" style="color: #ffffff;">Voir les recompenses</button>

     </div><!--col-md-6-->
  </div><!--row-->

  <div [hidden]="!isRecompense" style="position: relative;bottom: 41px;">
     <mat-card style="background-color: #04075E !important;">
        <mat-card-content>

          <div>
            <table mat-table [dataSource]="dataSource" style="position: relative;bottom: 38px;">

              <!-- Position Column -->
              <ng-container matColumnDef="recompense">
                <th mat-header-cell *matHeaderCellDef style="color: #fff;"> Recompense </th>
                <td mat-cell *matCellDef="let element"> {{element.recompense}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef style="color: #fff;"> Détails </th>
                <td mat-cell *matCellDef="let element">  
                  <span *ngIf="element.recompense=='Livraison'">
                   Nombre livraison : {{element.livraison}}
                  </span>
                  <span *ngIf="element.recompense=='Reduction'">
                    {{element.produit}} - ({{element.montant}} {{element.devise}})
                  </span>
                  <span *ngIf="element.recompense=='Cadeau'">
                    {{element.produit}}
                  </span>
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef style="color: #fff;"> Date </th>
                <td mat-cell *matCellDef="let element"> 
                  {{element.date | date:'dd/MM/YYYY'}}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="heure">
                <th mat-header-cell *matHeaderCellDef style="color: #fff;"> Heure </th>
                <td mat-cell *matCellDef="let element">  
                  {{element.heure | date:'hh:mm:ss'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="point">
                <th mat-header-cell *matHeaderCellDef style="color: #fff;"> Points </th>
                <td mat-cell *matCellDef="let element">{{element.point}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                          showFirstLastButtons
                          aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

        </mat-card-content>
     </mat-card>
  </div>



</div><!--Fluid-->

</mat-dialog-content>





