.example-card {
  max-width: 400px;
}

body {
  background: #F9F9F9;
}

.contentPage {
  padding-top: 0%;
}

.iconLogin {
  font-size: 25px;
  color: #04075E;
}

.titleCard {
  padding-top: 0px;
  padding-bottom: 44px;
}

.example-full-width {
  width: 100%;
}

.example-section {
  margin: 12px 0 30px 0;
}

.example-margin {
  margin: 0 12px;
}

.sizeButtonSignup {
  width: 298px;
  //background: #4f53c9 !important;
  background:  linear-gradient(90deg, #0c1733, #3fd27e);
  color: #fff;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: normal;
  height: 49px;
}

.sizeButtonA {
  width: 160px;
  background: #3F8823 !important;
  color: #fff;
  margin-bottom: 20px;
}

.buttonBottom {
  color: #04075E !important;
}

.signup-body{
  background-image: url(/assets/images/women.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
