<app-nav-bar>
  <div class="container-fluid" style="margin-bottom: 25px;">

    
    <div class="row">

      <div class="col-md-8">

        <mat-stepper labelPosition="bottom" [selectedIndex]="selectedStepIndex" #stepper>
          <mat-step>
            <ng-template matStepLabel>Envoyer un message au client à chaque visite</ng-template>
            <div>
              <app-visite-message></app-visite-message>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Envoyer un message à chaque anniversaire</ng-template>
            <div>
              <app-anniversaire-message></app-anniversaire-message>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Relancer les clients</ng-template>
            <div>
              <app-relancer-message></app-relancer-message>
            </div>
          </mat-step>
        </mat-stepper>

      </div><!--col-md-8-->

      <div class="col-md-4">
        <p class="titreHeader" style="font-weight: bold;">Visualiser</p>
        <mat-card style="height: 94%;">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12"> 
               
                <img src="assets/images/phone.png" alt="Angular Carousel 1" style="width:80%;display:block; margin-left: auto;margin-right: auto;">

                 <div *ngIf="message?.typePromotion=='App'" class="app">

                  <div style="margin-bottom:15px;">
                    <img  src="data:image/png;base64,{{message?.photo}}" style="width:68%;position:relative;left:13%;" *ngIf="message?.photo">
                    <img  src="assets/images/blank.jpeg" style="width:68%;position:relative;left:13%;"  *ngIf="!message?.photo">
                  </div>
                  
                  <p class="title-message">{{message?.nom}}</p>
                  <p class="message-text">{{message?.message}}</p>

                 </div><!--App-->

                 <div *ngIf="message?.typePromotion=='Sms'" class="sms">

                  <p style="text-align:center;font-size: 12px;color: rgb(102, 102, 102);">{{message.dateCreated | date:'dd/MM/YYYY'}}</p>

                  <mat-card style="background-color:#cce5fe !important;">
                    <mat-card-content>
                      <p class="title-sms">{{message?.nom}}</p>
                      <p class="sms-text">{{message?.message}}</p>
                    </mat-card-content> 
                  </mat-card>   

                </div><!--Sms-->

               
              
              </div>
           </div>
          </mat-card-content>
       </mat-card>

      </div><!--col-md-4-->

    </div><!--row-->

  </div><!--container-->
</app-nav-bar>
