<app-nav-bar>
  <div class="container-fluid" style="margin-bottom: 25px;">

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12">
         <div class="text-end">
            <button mat-raised-button class="sizeButtonAA" [routerLink]="'/promotions'"><i class="fas fa-bullhorn" style="font-size: 18px;"></i></button>
         </div>
      </div>
    </div><!--row-->

    <div class="row">

      <div class="col-md-4">

        <section class="exempla-section">
          <p class="checkboxTitle"><mat-checkbox> Envoyer un message au client à chaque visite</mat-checkbox> </p>
        </section>

        <mat-card style="margin-bottom: 20px;">
            <mat-card-content>
              <p class="titreHeader">Information de base</p>

              <div>
                <mat-form-field appearance="legacy" class="example-full-width">
                  <mat-label class="labelFrom">Nom de la promo</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="legacy" class="example-full-width">
                  <mat-label class="labelFrom">Nom de l'entreprise</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>

              <div class="row">
                <div class="col-md-12" style="font-size: 13px;">

                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label class="labelFrom">Type de promo</mat-label>
                      <mat-select (selectionChange)="selectSms($event.value)">
                        <mat-option *ngFor="let type of listTypes" [value]="type.nom">{{type.nom}}</mat-option>
                      </mat-select>
                  </mat-form-field>

                </div><!--col-->
                <!--<div class="col-md-4" style="padding-top: 4px;">
                  <button mat-raised-button class="sizeb">OK</button>
                </div>col-->
              </div><!--row-->

            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>

              <div *ngIf="!isSms">

                <p class="titreHeader">SMS</p>

                <mat-form-field class="example-full-width" appearance="fill">
                  <textarea matInput></textarea>
                </mat-form-field>

              </div>
              

             <!--<mat-divider></mat-divider>-->

             <div *ngIf="isSms">

              <p class="titreHeader">App</p>

              <mat-form-field class="example-full-width" appearance="fill">
                <textarea matInput></textarea>
              </mat-form-field>

             </div>

              
              <div align="right">
                <button mat-raised-button class="sizebv">Valider</button>
              </div>
            </mat-card-content>
        </mat-card>

      </div><!--col-->

      <div class="col-md-4">

        <section class="exempla-section">
          <p class="checkboxTitle"><mat-checkbox> Envoyer un message à chaque anniversaire</mat-checkbox> </p>
        </section>

        <mat-card style="margin-bottom: 20px;">
            <mat-card-content>
              <p class="titreHeader">Information de base</p>

              <div>
                <mat-form-field appearance="legacy" class="example-full-width">
                  <mat-label class="labelFrom">Nom de la promo</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="legacy" class="example-full-width">
                  <mat-label class="labelFrom">Nom de l'entreprise</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>

              <div class="row">
                 <div class="col-md-12" style="font-size: 13px;">

                   <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label class="labelFrom">Type de promo</mat-label>
                      <mat-select (selectionChange)="selectSms1($event.value)">
                        <mat-option *ngFor="let type of listTypes" [value]="type.nom">{{type.nom}}</mat-option>
                      </mat-select>
                   </mat-form-field>

                 </div><!--col-->
                 <!--<div class="col-md-4" style="padding-top: 4px;">
                   <button mat-raised-button class="sizeb">OK</button>
                 </div>col-->
              </div><!--row-->

            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>

              <div *ngIf="!isSms1">

                <p class="titreHeader">SMS</p>

                <mat-form-field class="example-full-width" appearance="fill">
                  <textarea matInput></textarea>
                </mat-form-field>

              </div>
              

              <!--<mat-divider></mat-divider>-->

              <div *ngIf="isSms1">

                <p class="titreHeader">App</p>

                <mat-form-field class="example-full-width" appearance="fill">
                  <textarea matInput></textarea>
                </mat-form-field>

              </div>

              

               <div align="right">
                <button mat-raised-button class="sizebv">Valider</button>
               </div>
            </mat-card-content>
        </mat-card>

      </div><!--col-->

      <div class="col-md-4" style="padding-top: 39px;">

         <mat-card style="height: 510px;">
            <mat-card-content>
              <p class="titreHeader" style="font-weight: bold;">Visualiser</p>
              <div class="row">
                  <div class="col-md-6">
                    <i class="fas fa-bullseye iconV"></i>
                    <div class="vi1">
                       <span style="font-size: 11px;color: #000;">Taille de la cible</span>
                       <br/>
                       <span style="font-size: 12px;font-weight: 800;">5 0000 000</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <i class="fas fa-funnel-dollar iconV1"></i>
                    <div class="vi2">
                       <span style="font-size: 11px;color: #000;">Montant à payer</span>
                       <br/>
                       <span style="font-size: 12px;font-weight: 800;">5 0000 000</span>
                    </div>

                  </div><!--col-->
              </div><!--row-->

              <div class="row">
                <div class="col-md-12">
                 <ngb-carousel style="bottom: 59px !important;">
                   <ng-template ngbSlide>
                     <div class="picsum-img-wrapper">
                       <img src="assets/images/iphone1.png" alt="Angular Carousel 1" style="width: 200px;height: 350;display:block; margin-left: auto;margin-right: auto;">
                     </div>
                    
                   </ng-template>
                   <ng-template ngbSlide>
                     <div class="picsum-img-wrapper">
                       <img src="assets/images/iphone2.png" alt="Angular Carousel 2" style="width: 200px;height: 350;display:block; margin-left: auto;margin-right: auto;">
                     </div>
                     
                   </ng-template>
                 </ngb-carousel>
                
                </div><!--col-md-12-->
             </div><!--row-->

            </mat-card-content>
        </mat-card>

      </div><!--col-->

    </div><!--row-->

  </div><!--container-->
</app-nav-bar>
