.titreHeader {
  font-size: 14px;
  color: #000;
  text-align: center;
}

.labelFrom {
  color: #CECECE;
  font-size: 13px;
}

.iconFrom {
  color: #CECECE;
  font-size: 24px;
  font-weight: 700;
  margin-right: 13px;
}

.example-full-width {
  width: 100%;
}

.sizeb {
  width: 51px;
  background: #04075E !important;
  color: #fff;
  height: 46px;
}

.sizebf {
  width: 41px;
  background: #04075E !important;
  color: #fff;
  height: 46px;
}

.sizebr {
  width: 41px;
  background: #D70000 !important;
  color: #fff;
  height: 46px;
}

.sizebv {
  background: #04075E !important;
  color: #fff;
}

.hposition {
  position: relative;
  bottom: 16px;
}

.sposition {
  position: relative;
  bottom: 13px;
}

.iconV {
  color: #0909B2;
  font-size: 40px;
}

.iconV1 {
  color: #4CBA23;
  font-size: 40px;
}

.vi1 {
  position: relative;
  left: 49px;
  bottom: 36px;
}

.vi2 {
  position: relative;
  left: 58px;
  bottom: 36px;
}

.example-section{
  margin: 12px 0;
}

.checkboxTitle{
  font-size: 10px;
  color: #9f9d9d;
}
