<app-nav-bar>

 <div class="container-fluid">

    <div class="row" style="margin-bottom:30px;">

        <div class="col-md-3">

            <mat-card class="card1" style="height: 81%;">
                <mat-card-content>
                    <p class="titleNumber">{{dash?.clients}}</p>
                    <div class="row">
                       <div class="col-md-8">
                        <p class="title">Total clients</p>
                       </div><!--col-md-8-->
                       <div class="col-md-4">
                        <i class="fas fa-users icontitle"></i>
                       </div><!--col-md-4-->
                    </div><!--row-->
                </mat-card-content>
            </mat-card>

        </div><!--col-md-3-->
        <div class="col-md-3">

            <mat-card class="card1" style="height: 81%;">
                <mat-card-content>
                    <p class="titleNumber">{{dash?.newclient}}</p>
                    <div class="row">
                        <div class="col-md-8">
                         <p class="title">Nouveau clients</p>
                        </div><!--col-md-8-->
                        <div class="col-md-4">
                            <i class="fas fa-user-plus icontitle"></i>
                        </div><!--col-md-4-->
                     </div><!--row-->
                </mat-card-content>
            </mat-card>

        </div><!--col-md-3-->
        <div class="col-md-3">

            <mat-card class="card1" style="height: 81%;">
                <mat-card-content>
                    <p class="titleNumber">{{dash?.relance}}</p>
                     <div class="row">
                        <div class="col-md-8">
                         <p class="title">Clients qui reviennent</p>
                        </div><!--col-md-8-->
                        <div class="col-md-4">
                            <i class="fas fa-undo-alt icontitle"></i>
                        </div><!--col-md-4-->
                     </div><!--row-->

                </mat-card-content>
            </mat-card>

        </div><!--col-md-3-->
        <div class="col-md-3">

            <mat-card class="card1" style="height: 81%;">
                <mat-card-content>
                    <p class="titleNumber">{{dash?.visite}}</p>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="title">Nombre de visite</p>
                        </div><!--col-md-8-->
                        <div class="col-md-4">
                            <i class="fas fa-user-check icontitle"></i>
                        </div><!--col-md-4-->
                     </div><!--row-->

                </mat-card-content>
            </mat-card>

        </div><!--col-md-3-->

    </div><!--row-->


    <div class="row" style="margin-bottom:20px;">

        <div class="col-md-6">
            <mat-card  style="height: 120%;">
                <mat-card-content>
                    <div class="row">
                      <div class="col-md-6"><p class="titleStat">Promotion</p></div><!--col-md-6-->
                      <div class="col-md-6"><p style="color:#3751FF;text-align: right;">Voir les détails</p></div><!--col-md-6-->
                    </div><!--row-->

                    <table class="table">
                        <tbody>
                          <tr class="rowTable">
                            <td style="font-size: 12px;">Nombre de campagne</td>
                            <td style="color:#9FA2B4;font-size:12;">{{promotion?.promotions}}</td>
                          </tr>
                          <tr class="rowTable">
                            <td style="font-size: 12px;">Nombre de SMS envoyé</td>
                            <td style="color:#9FA2B4;font-size:12;">{{promotion?.sms}}</td>
                          </tr>
                          <tr class="rowTable">
                            <td style="font-size: 12px;">Nombre de message InApp envoyé</td>
                            <td style="color:#9FA2B4;font-size:12;">{{promotion?.app}}</td>
                          </tr>
                        </tbody>
                      </table>
                </mat-card-content>
            </mat-card>
        </div><!--col-md-6-->

        <div class="col-md-6">
            <mat-card style="height: 120%;">
                <mat-card-content>

                    <div class="row">
                        <div class="col-md-6"><p class="titleStat">Détails clients</p></div><!--col-md-6-->
                        <div class="col-md-6"><p style="color:#3751FF;text-align: right;">Voir tout</p></div><!--col-md-6-->
                    </div><!--row-->

                    <table class="table">
                        <tbody>
                          <tr class="rowTable">
                            <td style="font-size: 12px;">Nombre de femmes</td>
                            <td style="color:#fff;font-size:12;"><span class="badge" style="background-color:#FEC400;">{{client?.femme}}</span></td>
                          </tr>
                          <tr class="rowTable">
                            <td style="font-size: 12px;">Nombre d’hommes</td>
                            <td style="color:#fff;font-size:12;"><span class="badge" style="background-color:#29CC97;">{{client?.homme}}</span></td>
                          </tr>
                          <tr class="rowTable">
                            <td style="font-size: 12px;">Clients inactifs</td>
                            <td style="color:#9FA2B4;font-size:12;"><span class="badge" style="background-color: #F0F1F7;color:#9FA2B4">{{client?.inactive}}</span></td>
                          </tr>

                        </tbody>
                      </table>


                </mat-card-content>
            </mat-card>
        </div><!--col-md-6-->

    </div><!--row-->

 </div><!--container-->

</app-nav-bar>
