<app-nav-bar>

 <div class="container-fluid">

   <div>

    <div class="row">

        <div class="col-md-6">

            <mat-card class="card1">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-3">
                          <p class="title">Nombre de clients total</p>
                        </div><!--col-md-4-->
                        <div class="col-md-4">
                            <p class="titleNumber">185</p>
                        </div><!--col-md-4-->
                        <div class="col-md-5">

                            <div class="row">
                                <div class="col-md-6">
                                   <p>
                                    <button mat-mini-fab style="background:#69f3a3;"></button> <span class="cardTitle">Femmes</span>
                                   </p>
                                   <p>
                                    <button mat-mini-fab style="background-color:#ce4a7b;"></button> <span class="cardTitle">Hommes</span>
                                   </p>
                                </div><!--col-md-6-->
                                <div class="col-md-6">
                                    <p class="cardT">800</p>
                                    <p class="cardTt">1200</p>

                                </div><!--col-md-6-->
                            </div><!--row-->

                        </div><!--col-md-4-->
                    </div><!--row-->
                </mat-card-content>
            </mat-card><!--mat-card-->

            <mat-card  class="card1">
                <mat-card-content>

                    <div class="row">
                        <div class="col-md-3">
                          <p class="title1">Nouveaux Clients</p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">
                            <p> 
                                <button mat-mini-fab style="background:#69f3a3;"><mat-icon class="icon-color">trending_up</mat-icon></button> 
                                <span class="cardTitle">Aujourd'hui</span>
                                <br/>
                                <span class="p1">+2116</span>
                            </p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">
                              <p>
                                <button mat-mini-fab style="background-color:#ce4a7b;"><mat-icon class="icon-color">trending_down</mat-icon></button> 
                                <span class="cardTitle">Cette semaine</span>
                                <br/>
                                <span class="p1">+2116</span>
                               </p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">

                            <p> 
                                <button mat-mini-fab style="background:#69f3a3;"><mat-icon class="icon-color">trending_up</mat-icon></button> 
                                <span class="cardTitle">Ce mois</span>
                                <br/>
                                <span class="p1">+2116</span>
                            </p>
                            
                        </div><!--col-md-4-->
                    </div><!--row-->

                </mat-card-content>
            </mat-card><!--mat-card-->

            <mat-card  class="card1">
                <mat-card-content>

                    <div class="row">
                        <div class="col-md-3">
                          <p class="title1">Messages Envoyés</p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">
                            <p> 
                                <button mat-mini-fab style="background:#69f3a3;"><mat-icon class="icon-color">trending_up</mat-icon></button> 
                                <span class="cardTitle">Aujourd'hui</span>
                                <br/>
                                <span class="p1">+2116</span>
                            </p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">
                              <p>
                                <button mat-mini-fab style="background-color:#ce4a7b;"><mat-icon class="icon-color">trending_down</mat-icon></button> 
                                <span class="cardTitle">Cette semaine</span>
                                <br/>
                                <span class="p1">+2116</span>
                               </p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">

                            <p> 
                                <button mat-mini-fab style="background:#69f3a3;"><mat-icon class="icon-color">trending_up</mat-icon></button> 
                                <span class="cardTitle">Ce mois</span>
                                <br/>
                                <span class="p1">+2116</span>
                            </p>
                            
                        </div><!--col-md-4-->
                    </div><!--row-->

                </mat-card-content>
            </mat-card><!--mat-card-->

            <mat-card  class="card1">
                <mat-card-content>

                    <div class="row">
                        <div class="col-md-3">
                          <p class="title1">Chiffre d'affaires des clients enregistrés</p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">
                            <p> 
                                <button mat-mini-fab style="background:#69f3a3;"><mat-icon class="icon-color">trending_up</mat-icon></button> 
                                <span class="cardTitle">Aujourd'hui</span>
                                <br/>
                                <span class="p1">+2116</span>
                            </p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">
                              <p>
                                <button mat-mini-fab style="background-color:#ce4a7b;"><mat-icon class="icon-color">trending_down</mat-icon></button> 
                                <span class="cardTitle">Cette semaine</span>
                                <br/>
                                <span class="p1">+2116</span>
                               </p>
                        </div><!--col-md-4-->
                        <div class="col-md-3">

                            <p> 
                                <button mat-mini-fab style="background:#69f3a3;"><mat-icon class="icon-color">trending_up</mat-icon></button> 
                                <span class="cardTitle">Ce mois</span>
                                <br/>
                                <span class="p1">+2116</span>
                            </p>
                            
                        </div><!--col-md-4-->
                    </div><!--row-->

                </mat-card-content>
            </mat-card><!--mat-card-->

           
        </div><!--col-md-6-->

        <div class="col-md-3">

            <mat-card class="card2">
                <mat-card-content>

                  <p class="titleCadeau">Cadeau les plus populaire Période</p>
                 
                  <div style="padding-top:30px;">
                    <mat-list style="margin-bottom: 20px;">
                        <mat-list-item>
                            <div class="row" style="width:100%;">
                                <div class="col-md-8">
                                    <p>
                                        <img src="assets/images/cadeau.jpg" style="border-radius:50%;width: 35px;">
                                        <span class="nameCadeau">Nom cadeau</span>
                                        <br/>
                                        <span class="pointCadeau">Point cadeau</span>
                                    </p>
                                </div><!--col-md-8-->
                                <div class="col-md-4">
                                    <span class="totalCadeau">Total point</span>
                                </div><!--col-md-4-->
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                    <mat-list style="margin-bottom: 20px;">
                        <mat-list-item>
                            <div class="row" style="width:100%;">
                                <div class="col-md-8">
                                    <p>
                                        <img src="assets/images/cadeau.jpg" style="border-radius:50%;width: 35px;">
                                        <span class="nameCadeau">Nom cadeau</span>
                                        <br/>
                                        <span class="pointCadeau">Point cadeau</span>
                                    </p>
                                </div><!--col-md-8-->
                                <div class="col-md-4">
                                    <span class="totalCadeau">Total point</span>
                                </div><!--col-md-4-->
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                    <mat-list style="margin-bottom: 20px;">
                        <mat-list-item>
                            <div class="row" style="width:100%;">
                                <div class="col-md-8">
                                    <p>
                                        <img src="assets/images/cadeau.jpg" style="border-radius:50%;width: 35px;">
                                        <span class="nameCadeau">Nom cadeau</span>
                                        <br/>
                                        <span class="pointCadeau">Point cadeau</span>
                                    </p>
                                </div><!--col-md-8-->
                                <div class="col-md-4">
                                    <span class="totalCadeau">Total point</span>
                                </div><!--col-md-4-->
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                    <mat-list style="margin-bottom: 20px;">
                        <mat-list-item>
                            <div class="row" style="width:100%;">
                                <div class="col-md-8">
                                    <p>
                                        <img src="assets/images/cadeau.jpg" style="border-radius:50%;width: 35px;">
                                        <span class="nameCadeau">Nom cadeau</span>
                                        <br/>
                                        <span class="pointCadeau">Point cadeau</span>
                                    </p>
                                </div><!--col-md-8-->
                                <div class="col-md-4">
                                    <span class="totalCadeau">Total point</span>
                                </div><!--col-md-4-->
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                  </div><!--list-->
                </mat-card-content>
            </mat-card>        

        </div><!--col-md-6-->

        <div class="col-md-3">

            <mat-card class="card2">
                <mat-card-content>

                  <p class="titleCadeau">Meilleure clients Période</p>
                 
                  <div style="padding-top:30px;">

                    <div class="row" style="margin-bottom: 20px;">
                       <div class="col-md-4">
                        <span class="nameClient">Dani Daniels</span>
                        <br/>
                        <span class="adresseClient">Adresse</span>

                       </div><!--col-md-4-->
                       <div class="col-md-4">
                        <span class="adresseClient">Derniere date</span>
                       </div><!--col-md-4-->
                       <div class="col-md-4">
                        <span class="nameClient">12,880,000</span>
                       </div><!--col-md-4-->
                    </div><!--row-->

                    <div class="row" style="margin-bottom: 20px;background-color: #eff4fb;border-radius: 9px;">
                        <div class="col-md-4">
                         <span class="nameClient">Dani Daniels</span>
                         <br/>
                         <span class="adresseClient">Adresse</span>
 
                        </div><!--col-md-4-->
                        <div class="col-md-4">
                         <span class="adresseClient">Derniere date</span>
                        </div><!--col-md-4-->
                        <div class="col-md-4">
                         <span class="nameClient">12,880,000</span>
                        </div><!--col-md-4-->
                    </div><!--row-->

                     <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-4">
                         <span class="nameClient">Dani Daniels</span>
                         <br/>
                         <span class="adresseClient">Adresse</span>
 
                        </div><!--col-md-4-->
                        <div class="col-md-4">
                         <span class="adresseClient">Derniere date</span>
                        </div><!--col-md-4-->
                        <div class="col-md-4">
                         <span class="nameClient">12,880,000</span>
                        </div><!--col-md-4-->
                     </div><!--row-->

                  </div><!--list-->
                </mat-card-content>
            </mat-card>

        </div><!--col-md-6-->

    </div><!--row-->

   </div><!--container1-->
   
   <div style="padding-top: 50px;">

    <div class="row justify-content-md-center">
        <div class="col-lg-10 col-md-10 col-md-auto">

           <div class="div2">
                <button mat-stroked-button class="btn-select">Aujourd'hui</button>
            </div>

            <div class="row">

                <div class="col-md-7">

                    <mat-card class="card2">
                        <mat-card-content>

                            <div style="padding-top:25px;">

                                <mat-list style="margin-bottom: 20px;">
                                    <mat-list-item>
                                        <div class="row" style="width:100%;">
                                            <div class="col-md-4">
                                                <p class="txt1">Nombre de point distribué</p>
                                            </div><!--col-md-8-->
                                            <div class="col-md-4">
                                                <p class="txt2"><mat-icon class="icon2">trending_up</mat-icon> <span class="prcnt">98,21 %</span></p>
                                            </div><!--col-md-4-->
    
                                            <div class="col-md-4">
                                                <p class="txt3">1,632,407</p>
                                            </div><!--col-md-4-->
                                        </div>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>
                                <mat-list style="margin-bottom: 20px;">
                                    <mat-list-item>
                                        <div class="row" style="width:100%;">
                                            <div class="col-md-4">
                                                <p class="txt1">Montant total des avoirs</p>
                                            </div><!--col-md-8-->
                                            <div class="col-md-4">
                                                <p class="txt2"><mat-icon class="icon1">trending_down</mat-icon><span class="prcnt">98,21 %</span></p>
                                            </div><!--col-md-4-->
    
                                            <div class="col-md-4">
                                                <p class="txt3">1,632,407</p>
                                            </div><!--col-md-4-->
                                        </div>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>
                                <mat-list style="margin-bottom: 20px;">
                                    <mat-list-item>
                                        <div class="row" style="width:100%;">
                                            <div class="col-md-4">
                                                <p class="txt1">Nombre de client qui revienne</p>
                                            </div><!--col-md-8-->
                                            <div class="col-md-4">
                                                <p class="txt2"> <mat-icon class="icon2">trending_up</mat-icon> <span class="prcnt">98,21 %</span></p>
                                            </div><!--col-md-4-->
    
                                            <div class="col-md-4">
                                                <p class="txt3">1,632,407</p>
                                            </div><!--col-md-4-->
                                        </div>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>

                            </div><!--div-->

                            
                        </mat-card-content>
                    </mat-card>        

                </div><!--col-md-8-->

                <div class="col-md-5">

                    <mat-card class="card2">
                        <mat-card-content>

                            <div style="padding-top: 25px;">
                                <div class="row">
                                    <div class="col-md-6">
                                       <p class="txt4">Campagne en cours Péroide</p>
                                    </div><!--col-md-6-->
                                    <div class="col-md-6">
                                       <p class="txt5">Voir liste des campagnes</p>
                                    </div><!--col-md-6-->
                                </div><!--row-->

                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                    <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->
                                  
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="name">
                                      <th mat-header-cell *matHeaderCellDef> NOM CAMPAGNE </th>
                                      <td mat-cell *matCellDef="let element" style="font-size:10px;"> {{element.name}} </td>
                                    </ng-container>
                                  
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="date">
                                      <th mat-header-cell *matHeaderCellDef> DATE </th>
                                      <td mat-cell *matCellDef="let element" style="font-size:10px;"> {{element.date}} </td>
                                    </ng-container>
                                  
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="prix">
                                      <th mat-header-cell *matHeaderCellDef> PRIX </th>
                                      <td mat-cell *matCellDef="let element" style="font-size:10px;"> {{element.prix}} </td>
                                    </ng-container>
                                  
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="cible">
                                      <th mat-header-cell *matHeaderCellDef> CIBLE </th>
                                      <td mat-cell *matCellDef="let element" style="font-size:10px;"> {{element.cible}} </td>
                                    </ng-container>
                                  
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                                  
                                  

                            </div><!--div-->

                        </mat-card-content>
                    </mat-card>

                </div><!--col-md-4-->

            </div><!--row-->

        </div><!--col-md--> 
    </div><!--row-->       

   </div><!--container2-->

 </div><!--container-->

</app-nav-bar>
