<app-nav-bar>

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <mat-tab-group>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Cadeaux <i class="fas fa-gifts" style="font-size: 20px;margin-left: 8px;"></i>
                    </ng-template>

                    <div class="row contentInfo">

                        <div class="col-md-4">
                             <p class="titleFront">Articles cadeau <i class="fas fa-plus-square iconInfo" style="cursor: pointer;" (click)="openDialogAddCadeau()"></i></p>

                             <div class="card" style="background-color: #F6F6FF;border-color: #F6F6FF;margin-bottom: 10px;" *ngFor="let cadeau of listCadeau">
                               <div class="card-body">

                                  <div class="row">
                                    <div class="col-md-6">
                                       <div style="cursor: pointer;" (click)="openDialogCadeau()">
                                         <img src="data:image/png;base64,{{cadeau?.produit.photo}}" width="30px;">
                                         <span class="subTitle">{{cadeau?.produit.nom}}</span>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div>
                                         <div class="vl"></div>
                                         <span style="font-size: 10px;margin-left: 4px;">{{cadeau.point}} ({{cadeau?.typesPoint.nom}})</span>
                                       </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div class="vl"></div>
                                       <div style="margin-left: 10px;">
                                          <i  class="fas fa-edit" style="margin-right: 11px;color: #04075E;cursor: pointer;" (click)="openDialogUpdateCadeau(cadeau._id)"></i>
                                          <i class="fas fa-trash" style="color: #04075E;cursor: pointer;" (click)="deleteCadeau(cadeau._id)"></i>
                                       </div>

                                    </div><!--col-->
                                  </div>


                               </div><!--card-body-->
                             </div>
                        </div><!--col-md-4-->

                        <div class="col-md-4">
                              <p class="titleFront">Réduction cadeau <i class="fas fa-plus-square iconInfo" style="cursor: pointer;" (click)="openDialogAddReduction()"></i></p>

                              <div class="card" style="background-color: #F6F6FF;border-color: #F6F6FF;margin-bottom: 10px;" *ngFor="let reduction of listReduction">
                               <div class="card-body">

                                  <div class="row">
                                    <div class="col-md-6">
                                       <div style="cursor: pointer;" (click)="openDialogReduction()">
                                         <img src="data:image/png;base64,{{reduction?.produit.photo}}" width="30px;">
                                         <span class="subTitle">{{reduction?.montant}}%</span>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div>
                                         <div class="vl"></div>
                                         <span style="font-size: 11px;margin-left: 4px;">{{reduction?.point}} points</span>
                                       </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div class="vl"></div>
                                       <div style="margin-left: 10px;">
                                          <i class="fas fa-edit" style="margin-right: 11px;color: #04075E;cursor: pointer;" (click)="openDialogUpdateReduction(reduction._id)"></i>
                                          <i class="fas fa-trash" style="color: #04075E;cursor: pointer;" (click)="deleteReduction(reduction._id)"></i>
                                       </div>

                                    </div><!--col-->
                                  </div>

                               </div><!--card-body-->
                             </div>
                        </div><!--col-md-4-->

                        <div class="col-md-4">
                              <p class="titleFront">Livraison gratuite <i class="fas fa-plus-square iconInfo" style="cursor: pointer;" (click)="openDialogAddLivraison()"></i></p>
                              <div class="card" style="background-color: #F6F6FF;border-color: #F6F6FF;margin-bottom: 10px;" *ngFor="let livraison of listLivraison">
                               <div class="card-body">

                                 <div class="row">
                                    <div class="col-md-6">
                                       <div style="cursor: pointer;" (click)="openDialogLivraison()">
                                         <span class="subTitle">{{livraison?.typesPoint.nom}}</span>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div>
                                         <div class="vl"></div>
                                         <span style="font-size: 11px;margin-left: 4px;">{{livraison?.point}} points</span>
                                       </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div class="vl"></div>
                                       <div style="margin-left: 10px;">
                                          <i class="fas fa-edit" style="margin-right: 11px;color: #04075E;cursor: pointer;" (click)="openDialogUpdateLivraison(livraison._id)"></i>
                                          <i class="fas fa-trash" style="color: #04075E;cursor: pointer;" (click)="deleteLivraison(livraison._id)"></i>
                                       </div>

                                    </div><!--col-->
                                  </div>

                               </div><!--card-body-->
                             </div>
                        </div><!--col-md-4-->

                    </div><!--row-->

                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Attribution de points <i class="fas fa-database" style="font-size: 20px;margin-left: 8px;"></i>
                    </ng-template>

                    <div class="row contentInfo">
                       <div class="col-md-6">

                             <p class="titleFront">Points visite <i class="fas fa-plus-square iconInfo" style="cursor: pointer;" (click)="openDialogAddVisite()"></i></p>

                             <div class="card" style="background-color: #F6F6FF;border-color: #F6F6FF;margin-bottom: 10px;" *ngFor="let visite of listVisite">
                               <div class="card-body">

                                  <div class="row">
                                    <div class="col-md-6">
                                       <div>
                                         <span class="subTitle">{{visite?.typesPoint.nom}}</span>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div>
                                         <div class="vl"></div>
                                         <span style="font-size: 11px;margin-left: 4px;">{{visite?.point}} points</span>
                                       </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div class="vl"></div>
                                       <div style="margin-left: 10px;">
                                          <i class="fas fa-edit" style="margin-right: 11px;color: #04075E;cursor: pointer;" (click)="openDialogUpdateVisite(visite._id)"></i>
                                          <i class="fas fa-trash" style="color: #04075E;cursor: pointer;" (click)="deleteVisite(visite._id)"></i>
                                       </div>

                                    </div><!--col-->
                                  </div>


                               </div><!--card-body-->
                             </div>

                       </div><!--col-->
                       <div class="col-md-6">

                          <p class="titleFront">Par budget dépensé <i class="fas fa-plus-square iconInfo" style="cursor: pointer;" (click)="openDialogAddBudget()"></i></p>

                             <div class="card" style="background-color: #F6F6FF;border-color: #F6F6FF;margin-bottom: 10px;" *ngFor="let budget of listBudget">
                               <div class="card-body">

                                  <div class="row">
                                    <div class="col-md-6">
                                       <div>
                                         <span class="subTitle">{{budget?.achat}} cfa</span>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div>
                                         <div class="vl"></div>
                                         <span style="font-size: 11px;margin-left: 4px;">{{budget?.point}} Points</span>
                                       </div>
                                    </div><!--col-->
                                    <div class="col-md-3">
                                       <div class="vl"></div>
                                       <div style="margin-left: 10px;">
                                          <i class="fas fa-edit" style="margin-right: 11px;color: #04075E;" (click)="openDialogUpdadeBudget(budget._id)"></i>
                                          <i class="fas fa-trash" style="color: #04075E;cursor: pointer;" (click)="deleteBudget(budget._id)"></i>
                                       </div>

                                    </div><!--col-->
                                  </div>


                               </div><!--card-body-->
                             </div>


                       </div><!--col-->
                    </div><!--row-->
                  </mat-tab>
               </mat-tab-group>

            </div>

        </div><!--row-->

    </div><!--fluid-->

</app-nav-bar>
