<div class="confirmeEmail-body">

  <div class="container">
    <div class="contentPageCE">
  
      <div class="row justify-content-md-center">
        <div class="col-lg-7 col-md-auto">
          <mat-card style="box-shadow: none !important;opacity: 80%;">
              <mat-card-content style="margin: 0 60px 0 60px;">
                <p class="text-center">Bienvenu(e) sur notre <b style="color:#04075E;font-size:15px">PLATEFORME WEFID</b>.</p>
                <p class="text-center">Votre inscription a été validée.</p>
              </mat-card-content>
              <mat-card-actions style="margin: 25px 30px 0 30px;">
                 <div class="row" *ngIf="!invalid">
                    <div class="col-md-12">
                      <div class="text-center">
                        <button mat-raised-button class="sizeButtonA" [routerLink]="'/'">Revenir à la page de connexion</button>
                      </div>
                    </div>
                </div>
              </mat-card-actions>
          </mat-card>
        </div><!--col-->
    </div><!--row-->
  
    </div>
  
  </div><!--container-->

</div>


