<mat-dialog-content class="mat-typography">

  <div class="container-fluid">

     <div class="text-center">
       <p class="titleFront">Cadeau réduction</p>
     </div>

     <form [formGroup]="reductionForm" novalidate>

      <div class="row" style="padding-top: 25px;font-size: 13px;">

        <div class="col-md-3">
          <small>Entrer un nombre de points</small>
          <mat-form-field appearance="outline" class="example-full-width">
            <input type="number" matInput formControlName="point" placeholder="Pour" required>
            <mat-icon matTooltip="{{account_validation_messages.point[0].message}}"
            *ngIf="reductionForm.get('point').hasError(account_validation_messages.point[0].type) && (reductionForm.get('point').dirty || reductionForm.get('point').touched)"
            style="cursor: pointer;" matSuffix>
            <i class="fas fa-exclamation-circle"></i>
           </mat-icon>
          </mat-form-field>
  
        </div><!--col-->
        <div class="col-md-3">
          <small>Choisir un type de point</small>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-select formControlName="typesPoint" placeholder="Points de">
              <mat-option *ngFor="let type of types" value="{{type._id}}">{{type.nom}}</mat-option>
            </mat-select>
            <mat-icon matTooltip="{{account_validation_messages.typesPoint[0].message}}"
            *ngIf="reductionForm.get('typesPoint').hasError(account_validation_messages.typesPoint[0].type) && (reductionForm.get('typesPoint').dirty || reductionForm.get('typesPoint').touched)"
            style="cursor: pointer;" matSuffix>
            <i class="fas fa-exclamation-circle"></i>
           </mat-icon>
          </mat-form-field>
  
        </div><!--col-->
      
        <div class="col-md-6">

          <small>Entrer un nombre pour la réduction</small>

          <mat-form-field appearance="outline" class="example-full-width-devise" style="margin-right: 4px;">
            <input matInput type="number" formControlName="montant" placeholder="Appliquer une réduction de" required>
            <mat-icon matTooltip="{{account_validation_messages.montant[0].message}}"
            *ngIf="reductionForm.get('montant').hasError(account_validation_messages.montant[0].type) && (reductionForm.get('montant').dirty || reductionForm.get('montant').touched)"
            style="cursor: pointer;" matSuffix>
            <i class="fas fa-exclamation-circle"></i>
           </mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width-devise-d">
            <mat-select formControlName="devise" placeholder="Devise">
              <mat-option value="fcfa">fcfa</mat-option>
              <mat-option value="%">%</mat-option>
            </mat-select>
            <mat-icon matTooltip="{{account_validation_messages.devise[0].message}}"
            *ngIf="reductionForm.get('devise').hasError(account_validation_messages.devise[0].type) && (reductionForm.get('devise').dirty || reductionForm.get('devise').touched)"
            style="cursor: pointer;" matSuffix>
            <i class="fas fa-exclamation-circle"></i>
           </mat-icon>
          </mat-form-field>

        </div>
  
      </div><!--row-->

      <div class="row" style="font-size: 13px;">
         <div class="col-md-6" *ngIf="!hProduit">
          <small>Produits</small>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-select formControlName="produit" placeholder="Produits">
              <mat-option *ngFor="let produit of produits" value="{{produit._id}}">{{produit?.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p class="addProduct" (click)="viewProduit()">Ajouter un produit</p>

         </div><!--col-md-6-->

         <div class="col-md-6">
          <div style="float:left;">
            <section class="example-section">
              <mat-checkbox class="example-margin" (change)="hideProduit($event.checked)" formControlName="facture">Sur la facturation</mat-checkbox>
            </section>
          </div><!----> 
         </div><!--col-md-6-->
      </div><!--row-->

      <div *ngIf="isProduit" style="margin-bottom: 10px;">
        <app-produit></app-produit>
      </div>
  
  
       <div class="text-center">
         <button mat-button mat-dialog-close>Fermer</button>
         <button mat-button type="submit" (click)="addReduction()" cdkFocusInitial style=" background: linear-gradient(90deg, #0c1733, #3fd27e) !important;color:#fff">Ajouter réduction</button>
      </div>



     </form>

    <div *ngIf="onLoadForm" style="padding-top: 20px;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div><!--fluid-->

</mat-dialog-content>
