<mat-dialog-content class="mat-typography">

  <div class="container-fluid">

     <div class="text-center">
       <p class="titleFront">Cadeau réduction</p>
     </div>

    <div class="row" style="padding-top: 65px;font-size: 13px;">

      <div class="col-md-3">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Pour</mat-label>
          <input type="number" matInput >
        </mat-form-field>

      </div><!--col-->
      <div class="col-md-3">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Points de</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

      </div><!--col-->
      <div class="col-md-3">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Appliquer une réduction de</mat-label>
          <input matInput >
        </mat-form-field>

      </div><!--col-->

      <div class="col-md-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div><!--row-->

    <div class="row" style="padding-top: 10px;font-size: 13px;">

      <div class="col-md-4">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Catégorie</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

      </div><!--col-->
      <div class="col-md-4">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Sous-Catégorie</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

      </div><!--col-->

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Produit</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div><!--row-->

     <div class="text-center">
       <button mat-button style=" background: #04075E !important;color:#fff">Ajouter cadeau</button>
    </div>



  </div><!--fluid-->

</mat-dialog-content>
